#######################################################################
#                 Create History List for Output
#######################################################################
 
VERSION: 1
EXPID:  >>>EXPID<<<
EXPDSC: ensemble_bkg
 
GRID_LABELS: PC288x181-DC
 ::

PC288x181-DC.GRID_TYPE: LatLon
PC288x181-DC.IM_WORLD: 288
PC288x181-DC.JM_WORLD: 181
PC288x181-DC.POLE: PC
PC288x181-DC.DATELINE: DC
PC288x181-DC.LM: 72

# GEOS-R21C File Spec
COLLECTIONS: 'asm_inst_6hr_glo_L288x181_p48'
             'slv_inst_6hr_glo_L288x181_slv'
             'flx_tavg_6hr_glo_L288x181_slv'
             'rad_tavg_6hr_glo_L288x181_slv'
             'lnd_tavg_6hr_glo_L288x181_slv'
             'lfo_tavg_6hr_glo_L288x181_slv'
#	     'glc_tavg_6hr_glo_L288x181_slv'
             'int_inst_6hr_glo_L288x181_slv'
             'pbl_inst_6hr_glo_L288x181_z17'
             'bkg.eta'
             'bkg.sfc'
             'cbkg.eta'
#            'abkg.eta'
             'gaas_bkg.sfc'
	     'sppt_eta'
# May need to consolidate some collections
             ::

# asm collections

  asm_inst_6hr_glo_L288x181_p48.format:         'CFIO' ,
  asm_inst_6hr_glo_L288x181_p48.descr:          '3d,6-Hourly,Instantaneous,Pressure-Level,Assimilation Fields (wind,temperature)' ,
  asm_inst_6hr_glo_L288x181_p48.nbits:          10 ,
  asm_inst_6hr_glo_L288x181_p48.deflate:        2 ,
  asm_inst_6hr_glo_L288x181_p48.regrid_method:  'BILINEAR_MONOTONIC' ,
  asm_inst_6hr_glo_L288x181_p48.template:       '%y4-%m2-%d2T%h2%n2Z.>>>NCSUFFIX<<<' ,
  asm_inst_6hr_glo_L288x181_p48.mode:           'instantaneous' ,
  asm_inst_6hr_glo_L288x181_p48.grid_label:     PC288x181-DC ,
  asm_inst_6hr_glo_L288x181_p48.frequency:      060000 ,
  asm_inst_6hr_glo_L288x181_p48.duration:       060000 ,
  asm_inst_6hr_glo_L288x181_p48.end_date:       >>>IOEDATE<<< ,
  asm_inst_6hr_glo_L288x181_p48.end_time:       >>>IOETIME<<< ,
  asm_inst_6hr_glo_L288x181_p48.vscale:         100.0 ,
  asm_inst_6hr_glo_L288x181_p48.vunit:          'hPa' ,
  asm_inst_6hr_glo_L288x181_p48.vvars:          'log(PLE)' , 'DYN' ,
  asm_inst_6hr_glo_L288x181_p48.levels:         1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 225 200 175 150 125 100 85 70 60 50 40 30 20 15 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.1 ,
  asm_inst_6hr_glo_L288x181_p48.fields:         'SLP'        , 'DYN'        ,
                                                 'PS'         , 'DYN'        ,
                                                 'PHIS'       , 'AGCM'       ,
                                                 'T'          , 'DYN'        ,
                                                 'U;V'        , 'DYN'        ,
                                                 'OMEGA'      , 'DYN'        ,
                                                 'Q'          , 'MOIST'      , 'QV'  ,
                                                 'QLTOT'      , 'AGCM'       , 'QL'  ,
                                                 'QITOT'      , 'AGCM'       , 'QI'  ,
                                                 'QRTOT'      , 'MOIST'      , 'QR'  ,
                                                 'QSTOT'      , 'MOIST'      , 'QS'  ,
                                                 'RH2'        , 'MOIST'      , 'RH'  ,
                                                 'ZLE'        , 'DYN'        , 'H'   ,
                                                 'O3'         , 'CHEMISTRY'  ,
                                                 'EPV'        , 'DYN'        ,
                                                 ::


  slv_inst_6hr_glo_L288x181_slv.format:         'CFIO' ,
  slv_inst_6hr_glo_L288x181_slv.descr:          '2d,6-Hourly,Instantaneous,Single-Level,Assimilation,Single-Level Diagnostics' ,
  slv_inst_6hr_glo_L288x181_slv.nbits:          10 ,
  slv_inst_6hr_glo_L288x181_slv.deflate:        2 ,
  slv_inst_6hr_glo_L288x181_slv.regrid_method:  'BILINEAR_MONOTONIC' ,
  slv_inst_6hr_glo_L288x181_slv.template:       '%y4-%m2-%d2T%h2%n2Z.>>>NCSUFFIX<<<' ,
  slv_inst_6hr_glo_L288x181_slv.mode:           'instantaneous' ,
  slv_inst_6hr_glo_L288x181_slv.grid_label:     PC288x181-DC ,
  slv_inst_6hr_glo_L288x181_slv.frequency:      060000 ,
  slv_inst_6hr_glo_L288x181_slv.duration:       060000 ,
  slv_inst_6hr_glo_L288x181_slv.end_date:       >>>IOEDATE<<< ,
  slv_inst_6hr_glo_L288x181_slv.end_time:       >>>IOETIME<<< ,
  slv_inst_6hr_glo_L288x181_slv.fields:         'SLP'            , 'DYN'         ,
                                                 'PS'             , 'DYN'         ,
                                                 'U850;V850'      , 'DYN'         ,  
                                                 'U500;V500'      , 'DYN'         ,
                                                 'U250;V250'      , 'DYN'         ,
                                                 'T850'           , 'DYN'         ,
                                                 'T500'           , 'DYN'         ,
                                                 'T250'           , 'DYN'         ,
                                                 'Q850'           , 'DYN'         ,
                                                 'Q500'           , 'DYN'         ,
                                                 'Q250'           , 'DYN'         ,
                                                 'H1000'          , 'DYN'         ,
                                                 'H850'           , 'DYN'         ,
                                                 'H500'           , 'DYN'         ,
                                                 'H250'           , 'DYN'         ,
                                                 'OMEGA500'       , 'DYN'         ,
                                                 'U2M;V2M'        , 'SURFACE'     ,
                                                 'U10M;V10M'      , 'SURFACE'     ,
                                                 'U50M;V50M'      , 'DYN'         ,             
                                                 'T10M'           , 'SURFACE'     ,
                                                 'T2M'            , 'SURFACE'     ,
                                                 'Q10M'           , 'SURFACE'     , 'QV10M'      ,
                                                 'Q2M'            , 'SURFACE'     , 'QV2M'       ,
                                                 'TS'             , 'SURFACE'     ,
                                                 'D0'             , 'SURFACE'     , 'DISPH'      ,
                                                 'TROPP_EPV'      , 'AGCM'        , 'TROPPV'     ,
                                                 'TROPP_THERMAL'  , 'AGCM'        , 'TROPPT'     ,
                                                 'TROPP_BLENDED'  , 'AGCM'        , 'TROPPB'     ,
                                                 'TROPT'          , 'AGCM'        ,
                                                 'TROPQ'          , 'AGCM'        ,
                                                 'CLDPRS'         , 'SOLAR'       ,
                                                 'CLDTMP'         , 'SOLAR'       ,
                                                 'TQV'            , 'AGCM'        ,
                                                 'TQI'            , 'AGCM'        ,
                                                 'TQL'            , 'AGCM'        ,
                                                 'TOX'            , 'AGCM'        ,
                                                 'TO3'            , 'PCHEM'       ,
                                                 'PPBL'           , 'TURBULENCE'  , 'PBLTOP'     ,
# Additional variables
                                                 'CLDBASEHGT'     , 'MOIST'       ,
                                                 'ZPBLRFRCT'      , 'TURBULENCE'  , 'PBLHRFRCT'  ,
                                                 'TCZPBL'         , 'TURBULENCE'  , 'PBLHRI'     ,
                                                 'ZPBL10p'        , 'TURBULENCE'  , 'PBLHKH'     ,
                                                 ::


  flx_tavg_6hr_glo_L288x181_slv.format:         'CFIO' ,
  flx_tavg_6hr_glo_L288x181_slv.descr:          '2d,6-Hourly,Time-Averaged,Single-Level,Assimilation,Surface Flux Diagnostics' ,
  flx_tavg_6hr_glo_L288x181_slv.nbits:          10 ,
  flx_tavg_6hr_glo_L288x181_slv.deflate:        2 ,
  flx_tavg_6hr_glo_L288x181_slv.regrid_method:  'BILINEAR_MONOTONIC' ,
  flx_tavg_6hr_glo_L288x181_slv.template:       '%y4-%m2-%d2T%h2%n2Z.>>>NCSUFFIX<<<' ,
  flx_tavg_6hr_glo_L288x181_slv.mode:           'time-averaged' ,
  flx_tavg_6hr_glo_L288x181_slv.grid_label:     PC288x181-DC ,
  flx_tavg_6hr_glo_L288x181_slv.frequency:      060000 ,
  flx_tavg_6hr_glo_L288x181_slv.duration:       060000 ,
  flx_tavg_6hr_glo_L288x181_slv.end_date:       >>>IOEDATE<<< ,
  flx_tavg_6hr_glo_L288x181_slv.end_time:       >>>IOETIME<<< ,
  flx_tavg_6hr_glo_L288x181_slv.fields:         'LHFX'                               , 'SURFACE'     , 'EFLUX'        ,
                                                 'EVAP'                               , 'SURFACE'     ,
                                                 'SH'                                 , 'SURFACE'     , 'HFLUX'        ,
#                                                'RADSRF'                             , 'RADIATION'   ,
                                                 'TAUX;TAUY'                          , 'SURFACE'     ,
                                                 'TAUGWX;TAUGWY'                      , 'GWD'         ,
                                                 'ZPBL'                               , 'TURBULENCE'  , 'PBLH'         ,
                                                 'D0'                                 , 'SURFACE'     , 'DISPH'        ,
                                                 'BSTAR'                              , 'SURFACE'     ,
                                                 'USTAR'                              , 'SURFACE'     ,
                                                 'TSTAR'                              , 'SURFACE'     ,
                                                 'QSTAR'                              , 'SURFACE'     ,
                                                 'RI'                                 , 'SURFACE'     , 'RISFC'        ,
                                                 'Z0H'                                , 'SURFACE'     ,
                                                 'Z0'                                 , 'SURFACE'     , 'Z0M'          ,
                                                 'DZ'                                 , 'DYN'         , 'HLML'         ,
                                                 'TA'                                 , 'DYN'         , 'TLML'         ,
                                                 'QA'                                 , 'DYN'         , 'QLML'         ,
                                                 'US;VS'                              , 'DYN'         , 'ULML;VLML'    ,
                                                 'RHOS'                               , 'SURFACE'     , 'RHOA'         ,
                                                 'VENT'                               , 'SURFACE'     , 'SPEED'        ,
                                                 'CT'                                 , 'SURFACE'     , 'CDH'          ,
                                                 'CQ'                                 , 'SURFACE'     , 'CDQ'          ,
                                                 'CM'                                 , 'SURFACE'     , 'CDM'          ,
                                                 'CN'                                 , 'SURFACE'     ,
                                                 'THAT'                               , 'SURFACE'     , 'TSH'          ,
                                                 'QHAT'                               , 'SURFACE'     , 'QSH'          ,
                                                 'FRACI'                              , 'SURFACE'     , 'FRSEAICE'     ,
# Additional variables
                                                 'OFRACI'                             , 'SURFACE'     , 'AICE'         ,
                                                 'RUNOFF'                             , 'SURFACE'     , 'RUNOFFTOT'    , # total runoff from glc & lnd                   ,
                                                 'AN_PRCP'                            , 'MOIST'       , 'PRECANV'      ,
                                                 'CN_PRCP'                            , 'MOIST'       , 'PRECCON'      ,
                                                 'LS_PRCP'                            , 'MOIST'       , 'PRECLSC'      ,
                                                 'SNO'                                , 'MOIST'       , 'PRECSNO'      ,
                                                 'TPREC'                              , 'MOIST'       , 'PRECTOT'      ,
                                                 'PRECTOT'                            , 'SURFACE'     , 'PRECTOTCORR'  , # append "CORR" if reanalysis and from SURFACE  ,
                                                 'PGENTOT'                            , 'MOIST'       ,
                                                 'PREVTOT'                            , 'MOIST'       ,
                                                 'LS_ARF'                             , 'MOIST'       , 'FRCLS'        ,
                                                 'AN_ARF'                             , 'MOIST'       , 'FRCAN'        ,
                                                 'CN_ARF'                             , 'MOIST'       , 'FRCCN'        ,
                                                 'DFNIR'                              , 'SOLAR'       , 'NIRDF'        ,
                                                 'DRNIR'                              , 'SOLAR'       , 'NIRDR'        ,
                                                 ::

  rad_tavg_6hr_glo_L288x181_slv.format:         'CFIO' ,
  rad_tavg_6hr_glo_L288x181_slv.descr:          '2d,6-Hourly,Time-Averaged,Single-Level,Assimilation,Radiation Diagnostics' ,
  rad_tavg_6hr_glo_L288x181_slv.nbits:          10 ,
  rad_tavg_6hr_glo_L288x181_slv.deflate:        2 ,
  rad_tavg_6hr_glo_L288x181_slv.regrid_method:  'BILINEAR_MONOTONIC' ,
  rad_tavg_6hr_glo_L288x181_slv.template:       '%y4-%m2-%d2T%h2%n2Z.>>>NCSUFFIX<<<' ,
  rad_tavg_6hr_glo_L288x181_slv.mode:           'time-averaged' ,
  rad_tavg_6hr_glo_L288x181_slv.grid_label:     PC288x181-DC ,
  rad_tavg_6hr_glo_L288x181_slv.frequency:      060000 ,
  rad_tavg_6hr_glo_L288x181_slv.duration:       060000 ,
  rad_tavg_6hr_glo_L288x181_slv.end_date:       >>>IOEDATE<<< ,
  rad_tavg_6hr_glo_L288x181_slv.end_time:       >>>IOETIME<<< ,
  rad_tavg_6hr_glo_L288x181_slv.fields:         'EMIS'    , 'SURFACE'  ,
                                                 'TS'      , 'SURFACE'  ,
                                                 'ALBEDO'  , 'SOLAR'    ,
                                                 'ALBNF'   , 'SOLAR'    , 'ALBNIRDF'     , # confirm                      ,
                                                 'ALBNR'   , 'SOLAR'    , 'ALBNIRDR'     , # confirm                      ,
                                                 'ALBVF'   , 'SOLAR'    , 'ALBVISDF'     , # confirm                      ,
                                                 'ALBVR'   , 'SOLAR'    , 'ALBVISDR'     , # confirm                      ,
                                                 'ALBNF'   , 'SURFACE'  , 'REFLNIRDF'    , # additional alb from surface  ,
                                                 'ALBVF'   , 'SURFACE'  , 'REFLVISDF'    , # additional alb from surface  ,
                                                 'SFCEM'   , 'IRRAD'    , 'LWGEM'        ,
                                                 'LWS'     , 'IRRAD'    , 'LWGAB'        ,
                                                 'LCS'     , 'IRRAD'    , 'LWGABCLR'     ,
                                                 'LAS'     , 'IRRAD'    , 'LWGABCLRCLN'  ,
                                                 'FLNS'    , 'IRRAD'    , 'LWGNT'        ,
                                                 'FLNSC'   , 'IRRAD'    , 'LWGNTCLR'     ,
                                                 'FLNSA'   , 'IRRAD'    , 'LWGNTCLRCLN'  ,
                                                 'OLR'     , 'IRRAD'    , 'LWTUP'        ,
                                                 'OLC'     , 'IRRAD'    , 'LWTUPCLR'     ,
                                                 'OLA'     , 'IRRAD'    , 'LWTUPCLRCLN'  ,
#                                                'OLCC5'   , 'IRRAD'    , 'OLRCC5'       ,
#                                                'LCSC5'   , 'IRRAD'    , 'LWSCC5'       ,
                                                 'SLRTP'   , 'SOLAR'    , 'SWTDN'        ,
                                                 'SLRSF'   , 'SOLAR'    , 'SWGDN'        ,
                                                 'SLRSFC'  , 'SOLAR'    , 'SWGDNCLR'     ,
                                                 'RSRS'    , 'SOLAR'    , 'SWGNT'        ,
                                                 'RSCS'    , 'SOLAR'    , 'SWGNTCLR'     ,
                                                 'RSRSNA'  , 'SOLAR'    , 'SWGNTCLN'     ,
                                                 'RSCSNA'  , 'SOLAR'    , 'SWGNTCLRCLN'  ,
                                                 'RSR'     , 'SOLAR'    , 'SWTNT'        ,
                                                 'RSC'     , 'SOLAR'    , 'SWTNTCLR'     ,
                                                 'RSRNA'   , 'SOLAR'    , 'SWTNTCLN'     ,
                                                 'RSCNA'   , 'SOLAR'    , 'SWTNTCLRCLN'  ,
                                                 'TAUHI'   , 'SOLAR'    , 'TAUHGH'       ,
                                                 'TAULO'   , 'SOLAR'    , 'TAULOW'       ,
                                                 'TAUMD'   , 'SOLAR'    , 'TAUMID'       ,
                                                 'TAUTT'   , 'SOLAR'    , 'TAUTOT'       ,
                                                 'CLDHI'   , 'SOLAR'    , 'CLDHGH'       ,
                                                 'CLDLO'   , 'SOLAR'    , 'CLDLOW'       ,
                                                 'CLDMD'   , 'SOLAR'    , 'CLDMID'       ,
                                                 'CLDTT'   , 'SOLAR'    , 'CLDTOT'       ,
                                                 ::

  lnd_tavg_6hr_glo_L288x181_slv.format:         'CFIO' ,
  lnd_tavg_6hr_glo_L288x181_slv.descr:          '2d,6-Hourly,Time-Averaged,Single-Level,Assimilation,Land Surface Diagnostics' ,
# lnd_tavg_6hr_glo_L288x181_slv.nbits:          10 ,
  lnd_tavg_6hr_glo_L288x181_slv.deflate:        2 ,
  lnd_tavg_6hr_glo_L288x181_slv.regrid_method:  'BILINEAR_MONOTONIC' ,
  lnd_tavg_6hr_glo_L288x181_slv.template:       '%y4-%m2-%d2T%h2%n2Z.>>>NCSUFFIX<<<' ,
  lnd_tavg_6hr_glo_L288x181_slv.mode:           'time-averaged' ,
  lnd_tavg_6hr_glo_L288x181_slv.grid_label:     PC288x181-DC ,
  lnd_tavg_6hr_glo_L288x181_slv.frequency:      060000 ,
  lnd_tavg_6hr_glo_L288x181_slv.duration:       060000 ,
  lnd_tavg_6hr_glo_L288x181_slv.end_date:       >>>IOEDATE<<< ,
  lnd_tavg_6hr_glo_L288x181_slv.end_time:       >>>IOETIME<<< ,
  lnd_tavg_6hr_glo_L288x181_slv.fields:         'GRN'        , 'SURFACE'  ,
                                                 'LAI'        , 'SURFACE'  ,
                                                 'WET3'       , 'SURFACE'  , 'GWETPROF'      ,
                                                 'WET2'       , 'SURFACE'  , 'GWETROOT'      ,
                                                 'WET1'       , 'SURFACE'  , 'GWETTOP'       ,
                                                 'WCPR'       , 'SURFACE'  , 'PRMC'          ,
                                                 'WCRZ'       , 'SURFACE'  , 'RZMC'          ,
                                                 'WCSF'       , 'SURFACE'  , 'SFMC'          ,
                                                 'CAPAC'      , 'SURFACE'  , 'INTRWATR'      ,
                                                 'TPSNOW'     , 'SURFACE'  , 'TPSNOWLAND'    ,
                                                 'TPUNST'     , 'SURFACE'  , 'TUNSTLAND'     ,
                                                 'TPSAT'      , 'SURFACE'  , 'TSATLAND'      ,
                                                 'TPWLT'      , 'SURFACE'  , 'TWLTLAND'      ,
                                                 'TPSURF'     , 'SURFACE'  , 'TSURFLAND'     ,
                                                 'TSOIL1'     , 'SURFACE'  ,
                                                 'TSOIL2'     , 'SURFACE'  ,
                                                 'TSOIL3'     , 'SURFACE'  ,
                                                 'TSOIL4'     , 'SURFACE'  ,
                                                 'TSOIL5'     , 'SURFACE'  ,
                                                 'TSOIL6'     , 'SURFACE'  ,
                                                 'PRLAND'     , 'SURFACE'  , 'PRECTOTCORR'   , # append "CORR" if reanalysis and from SURFACE  ,
                                                 'SNOLAND'    , 'SURFACE'  , 'PRECSNOCORR'   , # append "CORR" if reanalysis and from SURFACE  ,
                                                 'TSLAND'     , 'SURFACE'  , 'SNOMASLAND'    ,
                                                 'SNOWDP'     , 'SURFACE'  , 'SNODPLAND'     ,
                                                 'EVPSOI'     , 'SURFACE'  , 'EVPLANDSOIL'   ,
                                                 'EVPVEG'     , 'SURFACE'  , 'EVPLANDTRNS'   ,
                                                 'EVPINT'     , 'SURFACE'  , 'EVPLANDINTR'   ,
                                                 'EVPICE'     , 'SURFACE'  , 'EVPLANDSBLN'   ,
                                                 'RUNSURF'    , 'SURFACE'  , 'RUNSURFLAND'   ,
                                                 'BASEFLOW'   , 'SURFACE'  , 'BASEFLOWLAND'  ,
                                                 'SMLAND'     , 'SURFACE'  ,
                                                 'QINFIL'     , 'SURFACE'  , 'QINFILLAND'    ,
                                                 'FRUST'      , 'SURFACE'  , 'FRLANDUNST'    ,
                                                 'FRSAT'      , 'SURFACE'  , 'FRLANDSAT'     ,
                                                 'ASNOW'      , 'SURFACE'  , 'FRLANDSNO'     ,
                                                 'FRWLT'      , 'SURFACE'  , 'FRLANDWLT'     ,
                                                 'DFPARLAND'  , 'SURFACE'  , 'PARDFLAND'     ,
                                                 'DRPARLAND'  , 'SURFACE'  , 'PARDRLAND'     ,
                                                 'SHLAND'     , 'SURFACE'  ,
                                                 'LHLAND'     , 'SURFACE'  ,
                                                 'EVLAND'     , 'SURFACE'  ,
                                                 'LWLAND'     , 'SURFACE'  ,
                                                 'SWLAND'     , 'SURFACE'  ,
                                                 'GHLAND'     , 'SURFACE'  ,
                                                 'TWLAND'     , 'SURFACE'  ,
                                                 'TELAND'     , 'SURFACE'  ,
                                                 'DWLAND'     , 'SURFACE'  , 'WCHANGELAND'   ,
                                                 'DHLAND'     , 'SURFACE'  , 'ECHANGELAND'   ,
                                                 'SPLAND'     , 'SURFACE'  ,
                                                 'SPWATR'     , 'SURFACE'  , 'SPLANDWATR'    ,
                                                 'SPSNOW'     , 'SURFACE'  , 'SPLANDSNOW'    ,
                                                 ::

  lfo_tavg_6hr_glo_L288x181_slv.format:         'CFIO' ,
  lfo_tavg_6hr_glo_L288x181_slv.descr:          '2d,6-Hourly,Time-Averaged,Single-Level,Assimilation,Land Surface Forcings' ,
# lfo_tavg_6hr_glo_L288x181_slv.nbits:          10 ,
  lfo_tavg_6hr_glo_L288x181_slv.deflate:        2 ,
  lfo_tavg_6hr_glo_L288x181_slv.regrid_method:  'BILINEAR_MONOTONIC' ,
  lfo_tavg_6hr_glo_L288x181_slv.template:       '%y4-%m2-%d2T%h2%n2Z.>>>NCSUFFIX<<<' ,
  lfo_tavg_6hr_glo_L288x181_slv.mode:           'time-averaged' ,
  lfo_tavg_6hr_glo_L288x181_slv.grid_label:     PC288x181-DC ,
  lfo_tavg_6hr_glo_L288x181_slv.frequency:      060000 ,
  lfo_tavg_6hr_glo_L288x181_slv.duration:       060000 ,
  lfo_tavg_6hr_glo_L288x181_slv.end_date:       >>>IOEDATE<<< ,
  lfo_tavg_6hr_glo_L288x181_slv.end_time:       >>>IOETIME<<< ,
  lfo_tavg_6hr_glo_L288x181_slv.fields:         'SLRSF'  , 'SOLAR'    , 'SWGDN'           ,
                                                 'LWS'    , 'IRRAD'    , 'LWGAB'           ,
                                                 'PCU'    , 'SURFACE'  , 'PRECRAINCUCORR'  , # append "CORR" if reanalysis and from SURFACE  ,
                                                 'PLS'    , 'SURFACE'  , 'PRECRAINLSCORR'  , # append "CORR" if reanalysis and from SURFACE  ,
                                                 'SNO'    , 'SURFACE'  , 'PRECSNOCORR'     , # append "CORR" if reanalysis and from SURFACE  ,
                                                 'DFPAR'  , 'SOLAR'    , 'PARDF'           ,
                                                 'DRPAR'  , 'SOLAR'    , 'PARDR'           ,
                                                 ::

  glc_tavg_6hr_glo_L288x181_slv.format:         'CFIO' ,
  glc_tavg_6hr_glo_L288x181_slv.descr:          '2d,6-Hourly,Time-Averaged,Single-Level,Assimilation,Land Ice Surface Diagnostics' ,
  glc_tavg_6hr_glo_L288x181_slv.nbits:          10 ,
  glc_tavg_6hr_glo_L288x181_slv.deflate:        2 ,
  glc_tavg_6hr_glo_L288x181_slv.regrid_method:  'BILINEAR_MONOTONIC' ,
  glc_tavg_6hr_glo_L288x181_slv.template:       '%y4-%m2-%d2T%h2%n2Z.>>>NCSUFFIX<<<' ,
  glc_tavg_6hr_glo_L288x181_slv.mode:           'time-averaged' ,
  glc_tavg_6hr_glo_L288x181_slv.frequency:      060000 ,
  glc_tavg_6hr_glo_L288x181_slv.duration:       060000 ,
  glc_tavg_6hr_glo_L288x181_slv.regrid_name:    'PE360x2160-CF' ,
  glc_tavg_6hr_glo_L288x181_slv.regrid_exch:    'tile.bin' ,
  glc_tavg_6hr_glo_L288x181_slv.grid_label:     PC288x181-DC ,
  glc_tavg_6hr_glo_L288x181_slv.end_date:       >>>IOEDATE<<< ,
  glc_tavg_6hr_glo_L288x181_slv.end_time:       >>>IOETIME<<< ,
  glc_tavg_6hr_glo_L288x181_slv.fields:         'SNOWDP_GL'    , 'LANDICE'  , 'SNOWDPGLC'     ,
                                                 'SNOMAS_GL'    , 'LANDICE'  , 'SNOMASGLC'     ,
                                                 'ASNOW_GL'     , 'LANDICE'  , 'ASNOWGLC'      ,
                                                 'RUNOFF'       , 'LANDICE'  , 'RUNOFFTOTGLC'  ,
                                                 'WESNSC'       , 'LANDICE'  ,
                                                 'WESNEXT'      , 'LANDICE'  ,
                                                 'SNICEALB'     , 'LANDICE'  ,
                                                 'ALBNF'        , 'LANDICE'  , 'REFLNIRDFGLC'  ,
                                                 'ALBVF'        , 'LANDICE'  , 'REFLVISDFGLC'  ,
                                                 'EMIS'         , 'LANDICE'  , 'EMISGLC'       ,
                                                 'EVAPOUT'      , 'LANDICE'  , 'EVAPGLC'       ,
                                                 'GHTSKIN'      , 'LANDICE'  , 'GHTFLUXGLC'    ,
                                                 'IMELT'        , 'LANDICE'  ,
                                                 'MELTWTR'      , 'LANDICE'  ,
                                                 'MELTWTRCONT'  , 'LANDICE'  ,
                                                 'RAINRFZ'      , 'LANDICE'  ,
                                                 'SMELT'        , 'LANDICE'  ,
                                                 'SNOWALB'      , 'LANDICE'  ,
                                                 'WESNBOT'      , 'LANDICE'  ,
                                                 'TST'          , 'LANDICE'  , 'TSKINGLC'      ,
                                                 'HLATN'        , 'LANDICE'  , 'LHGLC'         ,
                                                 'SHOUT'        , 'LANDICE'  , 'SHGLC'         ,
                                                 'LWNDSRF'      , 'LANDICE'  , 'LWNDGLC'       ,
                                                 'SWNDSRF'      , 'LANDICE'  , 'SWNDGLC'       ,
                                                 ::

  int_inst_6hr_glo_L288x181_slv.format:         'CFIO' ,
  int_inst_6hr_glo_L288x181_slv.descr:          '2d,6-Hourly,Instantaneous,Single-Level,Assimilation,Vertically Integrated Diagnostics' ,
  int_inst_6hr_glo_L288x181_slv.nbits:          10 ,
  int_inst_6hr_glo_L288x181_slv.deflate:        2 ,
  int_inst_6hr_glo_L288x181_slv.regrid_method:  'BILINEAR_MONOTONIC' ,
  int_inst_6hr_glo_L288x181_slv.template:       '%y4-%m2-%d2T%h2%n2Z.>>>NCSUFFIX<<<' ,
  int_inst_6hr_glo_L288x181_slv.mode:           'instantaneous' ,
  int_inst_6hr_glo_L288x181_slv.grid_label:     PC288x181-DC ,
  int_inst_6hr_glo_L288x181_slv.frequency:      060000 ,
  int_inst_6hr_glo_L288x181_slv.duration:       060000 ,
  int_inst_6hr_glo_L288x181_slv.end_date:       >>>IOEDATE<<< ,
  int_inst_6hr_glo_L288x181_slv.end_time:       >>>IOETIME<<< ,
  int_inst_6hr_glo_L288x181_slv.fields:         'TQV'   , 'AGCM'  ,
                                                 'TQI'   , 'AGCM'  ,
                                                 'TQL'   , 'AGCM'  ,
                                                 'TOX'   , 'AGCM'  ,
                                                 'MASS'  , 'AGCM'  ,
                                                 'KE'    , 'DYN'   ,
                                                 'CPT'   , 'AGCM'  ,
                                                 'THV'   , 'AGCM'  ,
                                                 ::

  aer_tavg_6hr_glo_L288x181_slv.format:           'CFIO' ,
  aer_tavg_6hr_glo_L288x181_slv.descr:            '2d,6-Hourly,Time-Averaged,Single-Level,Analysis,Aerosol Diagnostics' ,
  aer_tavg_6hr_glo_L288x181_slv.nbits:             10 ,
  aer_tavg_6hr_glo_L288x181_slv.deflate:           2 ,
  aer_tavg_6hr_glo_L288x181_slv.regrid_method:    'CONSERVE_MONOTONIC' ,
  aer_tavg_6hr_glo_L288x181_slv.template:         '%y4-%m2-%d2T%h2%n2Z.>>>NCSUFFIX<<<' ,
  aer_tavg_6hr_glo_L288x181_slv.mode:             'time-averaged' ,
  aer_tavg_6hr_glo_L288x181_slv.grid_label:        PC@HIST_IMx@HIST_JM-DC ,
  aer_tavg_6hr_glo_L288x181_slv.frequency:         060000 ,
  aer_tavg_6hr_glo_L288x181_slv.duration:          060000 ,
  aer_tavg_6hr_glo_L288x181_slv.end_date:          >>>IOEDATE<<< ,
  aer_tavg_6hr_glo_L288x181_slv.end_time:          >>>IOETIME<<< ,
  aer_tavg_6hr_glo_L288x181_slv.fields:           'TOTEXTTAU'      , 'GOCART2G'  ,
                                                  'TOTSCATAU'      , 'GOCART2G'  ,
                                                  'TOTANGSTR'      , 'GOCART2G'  ,
         					  'PM25'           , 'GOCART2G'  ,
                                                  'PM'             , 'GOCART2G'  ,
                                                  ::

  pbl_inst_6hr_glo_L288x181_z17.format:         'CFIO' ,
  pbl_inst_6hr_glo_L288x181_z17.descr:          '3d,6-Hourly,Instantaneous,Constant-Height,PBL Diagnostics' ,
  pbl_inst_6hr_glo_L288x181_z17.nbits:          10 ,
  pbl_inst_6hr_glo_L288x181_z17.deflate:        2 ,
  pbl_inst_6hr_glo_L288x181_z17.regrid_method:  'BILINEAR_MONOTONIC' ,
  pbl_inst_6hr_glo_L288x181_z17.template:       '%y4-%m2-%d2T%h2%n2Z.>>>NCSUFFIX<<<' ,
  pbl_inst_6hr_glo_L288x181_z17.mode:           'instantaneous' ,
  pbl_inst_6hr_glo_L288x181_z17.grid_label:     PC288x181-DC ,
  pbl_inst_6hr_glo_L288x181_z17.frequency:      060000 ,
  pbl_inst_6hr_glo_L288x181_z17.duration:       060000 ,
#  pbl_inst_6hr_glo_L288x181_z17.reftime:        060000 ,
  pbl_inst_6hr_glo_L288x181_z17.end_date:       >>>IOEDATE<<< ,
  pbl_inst_6hr_glo_L288x181_z17.end_time:       >>>IOETIME<<< ,
  pbl_inst_6hr_glo_L288x181_z17.vunit:          'm' ,
  pbl_inst_6hr_glo_L288x181_z17.vvars:          'ZLES' , 'TURBULENCE' ,
  pbl_inst_6hr_glo_L288x181_z17.levels:         100 200 300 400 600 800 1000 1200 1400 1600 1800 2000 2300 2600 3000 3500 4000 ,
  pbl_inst_6hr_glo_L288x181_z17.fields:         'U;V'            , 'DYN'         ,
                                                 'QX1'            , 'MOIST'       , 'QV'  ,
                                                 'QLLSX1+QLCNX1'  , 'MOIST'       , 'QL'  ,
                                                 'QILSX1+QICNX1'  , 'MOIST'       , 'QI'  ,
                                                 'FCLD'           , 'MOIST'       ,
                                                 'PL'             , 'DYN'         ,
                                                 'T'              , 'MOIST'       ,
                                                 'THX0'           , 'MOIST'       , 'TH'  ,
                                                 'SL'             , 'MOIST'       ,
                                                 'QT'             , 'MOIST'       ,
                                                 'KH'             , 'TURBULENCE'  ,
                                                 'KM'             , 'TURBULENCE'  ,
                                                 ::

#######################################################################
#                 Background Files for Analysis
#######################################################################
  bkg.eta.format:         'CFIO' ,
# bkg.eta.nbits:          10 ,
  bkg.eta.deflate:        2 ,
  bkg.eta.regrid_method:  'BILINEAR_MONOTONIC' ,
  bkg.eta.template:   '%y4%m2%d2_%h2%n2z.>>>MEMBER<<<.>>>NCSUFFIX<<<',
  bkg.eta.ref_date:  >>>IOBBKGD<<< ,
  bkg.eta.ref_time:  >>>IOBBKGT<<< ,
  bkg.eta.end_date:  >>>IOEDATE<<< ,
  bkg.eta.end_time:  >>>IOETIME<<< ,
# bkg.eta.frequency: >>>BKGFREQ<<< ,
# bkg.eta.duration:  >>>BKGFREQ<<< ,
  bkg.eta.frequency: 010000 ,
  bkg.eta.duration:  010000 ,
  bkg.eta.mode:       'instantaneous',
  bkg.eta.grid_label:     PC288x181-DC ,
  bkg.eta.fields:     'PHIS'     , 'AGCM'          , 'phis'         ,
                      'SGH'      , 'AGCM'          , 'hs_stdv'      ,
                      'PS'       , 'DYN'           , 'ps'           ,
                      'TS'       , 'SURFACE'       , 'ts'           ,
                      'FRLAND'   , 'SURFACE'       , 'frland'       ,
                      'FRLANDICE', 'SURFACE'       , 'frlandice'    ,
                      'FRLAKE'   , 'SURFACE'       , 'frlake'       ,
                      'FROCEAN'  , 'SURFACE'       , 'frocean'      ,
                      'FRACI'    , 'SURFACE'       , 'frseaice'     ,
                      'DELP'     , 'DYN'           , 'delp'         ,
                      'U;V'      , 'DYN'           , 'u;v'          ,
                      'TV'       , 'DYN'           , 'tv'           ,
                      'Q'        , 'MOIST'         , 'sphu'         ,
                      'O3PPMV'   , 'CHEMISTRY'     , 'ozone'        ,
                      'QITOT'    , 'AGCM'          , 'qitot'        ,
                      'QLTOT'    , 'AGCM'          , 'qltot'        ,
                      'QRTOT'    , 'MOIST'         , 'qrtot'      ,
                      'QSTOT'    , 'MOIST'         , 'qstot'      ,
                      ::

  bkg.sfc.format:     'CFIO' ,
  bkg.sfc.deflate:    2      ,
  bkg.sfc.regrid_method:  'BILINEAR_MONOTONIC' ,
  bkg.sfc.template:   '%y4%m2%d2_%h2%n2z.>>>MEMBER<<<.>>>NCSUFFIX<<<',
  bkg.sfc.ref_date:  >>>IOBBKGD<<< ,
  bkg.sfc.ref_time:  >>>IOBBKGT<<< ,
  bkg.sfc.end_date:  >>>IOEDATE<<< ,
  bkg.sfc.end_time:  >>>IOETIME<<< ,
  bkg.sfc.frequency: >>>BKGFREQ<<< ,
  bkg.sfc.duration:  >>>BKGFREQ<<< ,
  bkg.sfc.mode:       'instantaneous',
  bkg.sfc.grid_label:     PC288x181-DC ,
  bkg.sfc.fields:     'PHIS'     , 'AGCM'          ,
                      'US;VS'    , 'DYN'           , 'UA;VA'     ,  
                      'TA'       , 'DYN'           ,
                      'QA'       , 'DYN'           ,
                      'TS'       , 'SURFACE'       , 'TSKIN'     ,
                      'QS'       , 'SURFACE'       ,
                      'U2M;V2M'  , 'SURFACE'       ,
                      'T2M'      , 'SURFACE'       ,
                      'Q2M'      , 'SURFACE'       ,
                      'U10N;V10N', 'SURFACE'       , 'U10M;V10M' ,
                      'T10M'     , 'SURFACE'       ,
                      'Q10M'     , 'SURFACE'       ,
                      'U50M;V50M', 'DYN'           ,
                      'SH'       , 'SURFACE'       , 'HFLUX'     ,
                      'LHFX'     , 'SURFACE'       , 'EFLUX'     ,
                      'TAUX'     , 'SURFACE'       , 'UFLUX'     ,
                      'TAUY'     , 'SURFACE'       , 'VFLUX'     ,
                      'SNOMAS'   , 'SURFACE'       , 'SNOWDP'    ,
                      'WET1'     , 'SURFACE'       , 'GWETTOP'   ,
                      'TSOIL1'   , 'SURFACE'       ,
                      'LWI'      , 'SURFACE'       , 'ORO'       ,
                      'FRLAND'   , 'SURFACE'       ,
                      'FRLANDICE', 'SURFACE'       ,
                      'FRLAKE'   , 'SURFACE'       ,
                      'FROCEAN'  , 'SURFACE'       ,
                      'FRACI'    , 'SURFACE'       , 'FRSEAICE'  ,
                      'COSZ'     , 'SOLAR'         ,
                      'QHAT'     , 'SURFACE'       ,
                      'THAT'     , 'SURFACE'       ,
                      'VENT'     , 'SURFACE'       ,
                      'GUST'     , 'SURFACE'       ,
                      'CM'       , 'SURFACE'       ,
                      'CQ'       , 'SURFACE'       ,
                      'CT'       , 'SURFACE'       ,
                      'D0'       , 'SURFACE'       , 'DISPH'    ,
                      'TROPP_EPV'     , 'AGCM'     , 'TROPPV'   ,
                      'TROPP_THERMAL' , 'AGCM'     , 'TROPPT'   ,
                      'TROPP_BLENDED' , 'AGCM'     , 'TROPPB'   ,
                      'TROPT'         , 'AGCM'     ,
                      'TROPQ'         , 'AGCM'     ,
                      'Z0'       , 'SURFACE'       , 'Z0M'      ,
                      'DCOOL'          , 'SURFACE'  ,
                      'DWARM'          , 'SURFACE'  ,
                      'TDROP'          , 'SURFACE'  ,
                      'TS_FOUND'       , 'SURFACE'  ,
                      'TDEL'           , 'SURFACE'  ,
                      'EVAP'           , 'SURFACE'  ,
                      'ZPBL'           , 'TURBULENCE', 'PBLH'        ,
                      ::

  cbkg.eta.format:      'CFIO' ,
  cbkg.eta.deflate:    2      ,
  cbkg.eta.regrid_method:  'BILINEAR_MONOTONIC' ,
  cbkg.eta.template:    '%y4%m2%d2_%h2%n2z.>>>MEMBER<<<.>>>NCSUFFIX<<<' ,
  cbkg.eta.ref_date:    >>>IOBBKGD<<< ,
  cbkg.eta.ref_time:    >>>IOBBKGT<<< ,
  cbkg.eta.end_date:    >>>IOEDATE<<< ,
  cbkg.eta.end_time:    >>>IOETIME<<< ,
  cbkg.eta.frequency:   >>>BKGFREQ<<< ,
  cbkg.eta.duration:    >>>BKGFREQ<<< ,
  cbkg.eta.mode:        'instantaneous' ,
  cbkg.eta.grid_label:     PC288x181-DC ,
  cbkg.eta.fields:      'PS'           , 'DYN'      ,
                        'PHIS'         , 'AGCM'     ,
                        'DELP'         , 'DYN'      ,
                        'AIRDENS'      , 'CHEMENV'  ,
                        'GOCART::CO'   , 'GOCART'   , 'CO'   ,
                        'GOCART::CO2'  , 'GOCART'   , 'CO2'  ,
                        ::

  gaas_bkg.sfc.format:      'CFIO' ,
  gaas_bkg.sfc.deflate:    2      ,
  gaas_bkg.sfc.regrid_method:  'BILINEAR_MONOTONIC' ,
  gaas_bkg.sfc.template:    '%y4%m2%d2_%h2z.>>>MEMBER<<<.>>>NCSUFFIX<<<' ,
  gaas_bkg.sfc.ref_date:    >>>IOBBKGD<<< ,
  gaas_bkg.sfc.ref_time:    >>>IOBBKGT<<< ,
  gaas_bkg.sfc.end_date:    >>>IOEDATE<<< ,
  gaas_bkg.sfc.end_time:    >>>IOETIME<<< ,
  gaas_bkg.sfc.frequency:   >>>BKGFREQ<<< ,
  gaas_bkg.sfc.duration:    >>>BKGFREQ<<< ,
  gaas_bkg.sfc.grid_label:     PC288x181-DC ,
  gaas_bkg.sfc.mode:        'instantaneous' ,
  gaas_bkg.sfc.fields:      'U10M;V10M' , 'SURFACE'  ,
                            'DUEXTTAU'     , 'DU'        ,
                            'SSEXTTAU'     , 'SS'        ,
                            'CA.bcEXTTAU'  , 'CA.bc'     , 'BCEXTTAU'  ,
                            'CA.ocEXTTAU'  , 'CA.oc'     , 'OCEXTTAU'  ,
                            'CA.brEXTTAU'  , 'CA.br'     , 'BREXTTAU'  ,
                            'SUEXTTAU'     , 'SU'        ,
                            'NIEXTTAU'     , 'NI'        ,
                            'TOTEXTTAU'    , 'GOCART2G'  ,
                            ::

  abkg.eta.format:      'CFIO' ,
  abkg.eta.nbits:      10     ,
  abkg.eta.deflate:    2      ,
  abkg.eta.regrid_method:  'BILINEAR_MONOTONIC' ,
  abkg.eta.descr:       '3d,3-Hourly,Instantaneous,Model-Level,Analysis,Aerosol Concentrations' ,
  abkg.eta.template:    '%y4%m2%d2_%h2%n2z.>>>MEMBER<<<.>>>NCSUFFIX<<<' ,
  abkg.eta.ref_date:  >>>IOBBKGD<<< ,
  abkg.eta.ref_time:  >>>IOBBKGT<<< ,
  abkg.eta.end_date:  >>>IOEDATE<<< ,
  abkg.eta.end_time:  >>>IOETIME<<< ,
  abkg.eta.frequency: >>>BKGFREQ<<< ,
  abkg.eta.duration:  >>>BKGFREQ<<< ,
  abkg.eta.mode:       'instantaneous',
  abkg.eta.splitField:  1 ,
  abkg.eta.grid_label:     PC288x181-DC ,
  abkg.eta.fields:      'PS'           , 'DYN'      ,
                        'DELP'         , 'DYN'      ,
                        'FRLAND'       , 'SURFACE'  ,
                        'FRLANDICE'    , 'SURFACE'  ,
                        'FRLAKE'       , 'SURFACE'  ,
                        'FROCEAN'      , 'SURFACE'  ,
                        'FRACI'        , 'SURFACE'  , 'FRSEAICE'  ,
                        'RH2'          , 'MOIST'    , 'RH'        ,
                        'AIRDENS'      , 'CHEMENV'  ,
# Dust
                        'DU'           , 'DU'       ,
# Sea-salt
                        'SS'           , 'SS'       ,
# Sulfates
                        'DMS'          , 'SU'       ,
                        'SO2'          , 'SU'       ,
                        'SO4'          , 'SU'       ,
                        'MSA'          , 'SU'       ,
# Carbonaceous (main)
                        'CA.bcphobic'  , 'CA.bc'    , 'BCPHOBIC'  ,
                        'CA.bcphilic'  , 'CA.bc'    , 'BCPHILIC'  ,
                        'CA.brphobic'  , 'CA.br'    , 'BRPHOBIC'  ,
                        'CA.brphilic'  , 'CA.br'    , 'BRPHILIC'  ,
                        'CA.ocphobic'  , 'CA.oc'    , 'OCPHOBIC'  ,
                        'CA.ocphilic'  , 'CA.oc'    , 'OCPHILIC'  ,
# Nitrate
                        'NH3'          , 'NI'       ,
                        'NH4a'         , 'NI'       , 'NH4A'      ,
                        'NO3an1'       , 'NI'       , 'NO3AN1'    ,
                        'NO3an2'       , 'NI'       , 'NO3AN2'    ,
                        'NO3an3'       , 'NI'       , 'NO3AN3'    ,
                        ::

  sppt_eta.format:      'CFIO' ,
  sppt_eta.template:    '%y4%m2%d2_%h2z.>>>MEMBER<<<.>>>NCSUFFIX<<<' ,
  sppt_eta.frequency:   030000 ,
  sppt_eta.duration:    030000 ,
  sppt_eta.ref_time:    000000 ,
  sppt_eta.mode:        'instantaneous' ,
  sppt_eta.grid_label:     PC288x181-DC ,
  sppt_eta.vscale:      100.0,
  sppt_eta.vunit:       'hPa',
  sppt_eta.vvars:       'log(PLE)' , 'DYN'          ,
  sppt_eta.levels:      1000 925 850 700 600 500 400 300 250 200 150 100 70 50 30 20 10 ,
  sppt_eta.fields:      'RNDPTR'             , 'PHYSICS', 
		        'QVUNPERT'           , 'PHYSICS',	
		        'QVPERT'             , 'PHYSICS',	
                        'DTDTUNPERT'         , 'PHYSICS',
		        'DUDTUNPERT;DVDTUNPERT'  , 'PHYSICS',	
		        'DQVDTUNPERT'        , 'PHYSICS',	
		        'DQVDTPERT'          , 'PHYSICS',	
                        'DTDTTOT'            , 'PHYSICS', 
                        'DUDT;DVDT'          , 'PHYSICS',
                        'DUDTSTOCH;DVDTSTOCH', 'PHYSICS',
                        'DTDTSTOCH'          , 'PHYSICS',
                        'DQVDTSTOCH'         , 'PHYSICS',
                      ::

