#AVHRR_L2A  processing

AVHRR_L2A_VERBOSE         = YES

AVHRR_L2A_EXPID           = ${EXPID}
AVHRR_L2A_ORBITS          = asc,des

#--AVHRR_L2A_L2_DIR       = /archive/input/dao_ops/obs/reanalysis/patmosx/Synoptic
#--AVHRR_L2A_OUT_DIR      = ./Results/obs/Level%lev/%prod/Y%y4/M%m2
AVHRR_L2A_L2_DIR          = ${FVWORK}
AVHRR_L2A_OUT_DIR         = ${FVWORK}

AVHRR_L2A_OVERWRITE       = YES
AVHRR_L2A_OUT_TEMPLATE    = '%s.%prod_L%leva.%orb.%y4%m2%d2_%h2%n2z.%ext'
AVHRR_L2A_RESOLUTION      = e

AVHRR_L2A_WIND_FILE       = ${EXPID}.gaas_bkg.sfc.%y4%m2%d2_%h2z.nc4
AVHRR_L2A_TPW_FILE        = ${EXPID}.gaas_bkg.sfc.%y4%m2%d2_%h2z.nc4
AVHRR_L2A_AOD_FILE        = ${EXPID}.gaas_bkg.sfc.%y4%m2%d2_%h2z.nc4

AVHRR_L2A_NN_FILE         = ExtData/g5chem/x/NN/nnr_001.avhrr_Tau.net
AVHRR_L2A_BLANK_ODS       = ExtData/g5chem/x/blank_syn8.ods
AVHRR_L2A_COXMUNK_LUT     = ExtData/g5chem/x/avhrr.cox-munk_lut.npz

#END AVHRR_L2A  processing
