#
# FVPSAS Analysis resource file.
#
# !REVISION HISTORY:
#
# 14feb2010  da Silva  Adapted from GEOS-4 ana.rc.
#
#-----------------------------------------------------------------------------
   
#                          ------------------
#                          Dynamic Parameters
#                          ------------------

ExpId: a0008

Layout_Nx: 2
Layout_Ny: 4

IM_World: 540
JM_World: 361
LM_World: 72
CM_World: 4

nymd: 20080630
nhms: 120000

#                           -----------------
#                               Switches
#                           -----------------

verbose:                         .TRUE.
do_averaging_kernel:             .FALSE.
do_statistical_bias_correction:  .FALSE.
do_you_want_to_skip_PSAS:        .FALSE.


#                        -------------------
#                         File Name Templates
#                        -------------------

aer_bkg_filename: /nobackup/1/ARCTAS/Y2008/M06/d5_arctas_02.inst3d_aer_v.20080630_1200z.nc
aer_ana_filename: /home/adasilva/GAAS/a0008/chem/Y2008/M06/a0008.aer_a.eta.20080630_1200z.nc4

aod_ana_filename: /home/adasilva/GAAS/a0008/chem/Y2008/M06/a0008.aod_a.sfc.20080630_1200z.nc
aod_bkg_filename: /home/adasilva/GAAS/a0008/chem/Y2008/M06/a0008.aod_f.sfc.20080630_1200z.nc
aod_inc_filename: /home/adasilva/GAAS/a0008/chem/Y2008/M06/a0008.aod_d.sfc.20080630_1200z.nc
aod_avk_filename: /home/adasilva/GAAS/a0008/chem/Y2008/M06/a0008.aod_k.sfc.20080630_1200z.nc

aodbias_internal_restart:     aodbias_internal_restart.nc
aodbias_internal_checkpoint:  aodbias_internal_checkpoint.nc


#                          -------------------
#                            INPUT ODS FILES
#                          -------------------

ODS_files::
ods/MOD04.ods
ods/MYD04.ods
ods/misr.ods
#   ods/PARASOL.ods
#   ods/omi.ods
::

#                          -------------------
#                            MIE PARAMETERS
#                          -------------------

# Common MODIS/MISR channels
NUM_BANDS: 4
    BANDS: 470.E-9  550.E-9 660.E-9   870.E-9

DU_OPTICS: ExtData/g5chem/x/optics_DU.v4.nc
SS_OPTICS: ExtData/g5chem/x/optics_SS.v2.nc
SU_OPTICS: ExtData/g5chem/x/optics_SU.v3.nc
OC_OPTICS: ExtData/g5chem/x/optics_OC.nc
BC_OPTICS: ExtData/g5chem/x/optics_BC.nc

#                           -----------------
#                               ANALYZER
#                           -----------------

alpha_for_bias_estimation: 0.05
range_of_wavenumbers_to_analyze_in_nm: 470 870

#.
