# MAPL required variables
# -----------------------
RUN_DT: 21600   # for now, must be set to 6-hrs
MAPL_ENABLE_TIMERS: NO
PRINTSPEC: 0  # (0: OFF, 1: IMPORT & EXPORT, 2: IMPORT, 3: EXPORT)

# request increment to (also) come out in sdf format
# --------------------------------------------------
#SDF_FILENAME: agcm_import_rst.%y4%m2%d2_%h2z.nc4

# Model Resolution and Timestep Parameters
# 4x4 is usually enough for any resolution
# ----------------------------------------
NX: 4
NY: 4

#TEST_CASE: 0
#TEST_CASE: 1  # convert cubed back to latlon
#TEST_CASE: 2  # test ad l2c (not avail yet)
#TEST_CASE: 3  # test ad c2l

DYCORE: NONE
AGCM_GRIDNAME: ModelE-144x90

AGCM_IM: 144
AGCM_JM: 90
AGCM_LM: 40

IAU_DATE: >>>ANADATE<<<
IAU_TIME: >>>ANATIME<<<

# This is presently set the same file as the old makeiau.x did
# NOTE: the internal_rst of this program provides
#       the import to GEOSgcm.x, therefore its name
# ------------------------------------------------------------
AGCM_INTERNAL_CHECKPOINT_FILE:          agcm_import_rst
AGCM_INTERNAL_CHECKPOINT_TYPE:          binary

#WRITE_AGCM_INTERNAL_FILE: agcm_interal_rst

ANALYZE_TS: 0
REPLAY_BKG:  >>>BKGFNAME<<<
REPLAY_FILE: >>>ANAFNAME<<<
REPLAY_DAMPBEG: 0
REPLAY_DAMPEND: 0
REPLAY_OFFLINE: 1
REPLAY_REMAP: YES
REPLAY_WINDFIX: YES
# Following allows zero-out of q-tendency (careful)
#NO_DQVDT: 1

