DSET nofile
title Template GrADS for regridding
options template
undef 0.100000E+26
xdef >>>XDEF<<< linear >>>LONB<<< >>>XYINC<<<
ydef >>>YDEF<<< linear >>>LATB<<< >>>XYINC<<<
zdef   1 levels  1000 
tdef 1 linear 0Z1jan1900 1dy
vars 1
var       0 0        generic sfc variable
endvars
