 &SETUP
  jpch=4411,nstep=90,nsize=20,wgtang=0.008333333,wgtlap=0.0,
  iuseqc=1,dtmax=1.0,
  iyy1=>>>YYYY<<<,
  imm1=>>>MM<<<,
  idd1=>>>DD<<<,
  ihh1=>>>HH<<<,
  iyy2=>>>YYYY<<<,
  imm2=>>>MM<<<,
  idd2=>>>DD<<<,
  ihh2=>>>HH<<<,
  dth=06,ndat=82,

 /
 &OBS_INPUT
  dtype(01)='amsua',     dplat(01)='n15',       dsis(01)='amsua_n15',
  dtype(02)='amsub',     dplat(02)='n15',       dsis(02)='amsub_n15',
  dtype(03)='hirs3',     dplat(03)='n16',       dsis(03)='hirs3_n16',
  dtype(04)='amsua',     dplat(04)='n16',       dsis(04)='amsua_n16',
  dtype(05)='amsub',     dplat(05)='n16',       dsis(05)='amsub_n16',
  dtype(06)='hirs3',     dplat(06)='n17',       dsis(06)='hirs3_n17',
  dtype(07)='amsua',     dplat(07)='n17',       dsis(07)='amsua_n17',
  dtype(08)='amsub',     dplat(08)='n17',       dsis(08)='amsub_n17',
  dtype(09)='hirs4',     dplat(09)='n18',       dsis(09)='hirs4_n18',
  dtype(10)='amsua',     dplat(10)='n18',       dsis(10)='amsua_n18',
  dtype(11)='mhs',       dplat(11)='n18',       dsis(11)='mhs_n18',
  dtype(12)='hirs4',     dplat(12)='metop-a',   dsis(12)='hirs4_metop-a',
  dtype(13)='amsua',     dplat(13)='metop-a',   dsis(13)='amsua_metop-a',
  dtype(14)='mhs',       dplat(14)='metop-a',   dsis(14)='mhs_metop-a',
  dtype(15)='iasi',      dplat(15)='metop-a',   dsis(15)='iasi_metop-a',
  dtype(16)='airs',      dplat(16)='aqua',      dsis(16)='airs_aqua',
  dtype(17)='amsua',     dplat(17)='aqua',      dsis(17)='amsua_aqua',
  dtype(18)='avhrr',     dplat(18)='n16',       dsis(18)='avhrr3_n16',
  dtype(19)='avhrr',     dplat(19)='n17',       dsis(19)='avhrr3_n17',
  dtype(20)='avhrr',     dplat(20)='n18',       dsis(20)='avhrr3_n18',
  dtype(21)='ssmi',      dplat(21)='f13',       dsis(21)='ssmi_f13',
  dtype(22)='ssmi',      dplat(22)='f14',       dsis(22)='ssmi_f14',
  dtype(23)='ssmi',      dplat(23)='f15',       dsis(23)='ssmi_f15',
  dtype(24)='ssmis',     dplat(24)='f16',       dsis(24)='ssmis_f16',
  dtype(25)='amsre',     dplat(25)='aqua',      dsis(25)='amsre_aqua',
  dtype(26)='sndr',      dplat(26)='g11',       dsis(26)='sndr_g11',
  dtype(27)='imgr',      dplat(27)='g11',       dsis(27)='imgr_g11',
  dtype(28)='sndr',      dplat(28)='g12',       dsis(28)='sndr_g12',
  dtype(29)='imgr',      dplat(29)='g12',       dsis(29)='imgr_g12',
  dtype(30)='sndr',      dplat(30)='g13',       dsis(30)='sndr_g13',
  dtype(31)='imgr',      dplat(31)='g13',       dsis(31)='imgr_g13',
  dtype(32)='sndrd1',    dplat(32)='g11',       dsis(32)='sndrD1_g11',
  dtype(33)='sndrd2',    dplat(33)='g11',       dsis(33)='sndrD2_g11',
  dtype(34)='sndrd3',    dplat(34)='g11',       dsis(34)='sndrD3_g11',
  dtype(35)='sndrd4',    dplat(35)='g11',       dsis(35)='sndrD4_g11',
  dtype(36)='sndrd1',    dplat(36)='g12',       dsis(36)='sndrD1_g12',
  dtype(37)='sndrd2',    dplat(37)='g12',       dsis(37)='sndrD2_g12',
  dtype(38)='sndrd3',    dplat(38)='g12',       dsis(38)='sndrD3_g12',
  dtype(39)='sndrd4',    dplat(39)='g12',       dsis(39)='sndrD4_g12',
  dtype(40)='sndrd1',    dplat(40)='g13',       dsis(40)='sndrD1_g13',
  dtype(41)='sndrd2',    dplat(41)='g13',       dsis(41)='sndrD2_g13',
  dtype(42)='sndrd3',    dplat(42)='g13',       dsis(42)='sndrD3_g13',
  dtype(43)='sndrd4',    dplat(43)='g13',       dsis(43)='sndrD4_g13',
  dtype(44)='hirs2',     dplat(44)='n14',       dsis(44)='hirs2_n14',
  dtype(45)='msu',       dplat(45)='n14',       dsis(45)='msu_n14',
  dtype(46)='hirs4',     dplat(46)='n19',       dsis(46)='hirs4_n19',
  dtype(47)='amsua',     dplat(47)='n19',       dsis(47)='amsua_n19',
  dtype(48)='mhs',       dplat(48)='n19',       dsis(48)='mhs_n19',
  dtype(49)='ssmis',     dplat(49)='f17',       dsis(49)='ssmis_f17',
  dtype(50)='ssmis',     dplat(50)='f18',       dsis(50)='ssmis_f18',
  dtype(51)='ssmis',     dplat(51)='f19',       dsis(51)='ssmis_f19',
  dtype(52)='ssmis',     dplat(52)='f20',       dsis(52)='ssmis_f20',
  dtype(53)='imgr',      dplat(53)='g14',       dsis(53)='imgr_g14',
  dtype(54)='imgr',      dplat(54)='g15',       dsis(54)='imgr_g15',
  dtype(55)='sndrd1',    dplat(55)='g14',       dsis(55)='sndrD1_g14',
  dtype(56)='sndrd2',    dplat(56)='g14',       dsis(56)='sndrD2_g14',
  dtype(57)='sndrd3',    dplat(57)='g14',       dsis(57)='sndrD3_g14',
  dtype(58)='sndrd4',    dplat(58)='g14',       dsis(58)='sndrD4_g14',
  dtype(59)='sndrd1',    dplat(59)='g15',       dsis(59)='sndrD1_g15',
  dtype(60)='sndrd2',    dplat(60)='g15',       dsis(60)='sndrD2_g15',
  dtype(61)='sndrd3',    dplat(61)='g15',       dsis(61)='sndrD3_g15',
  dtype(62)='sndrd4',    dplat(62)='g15',       dsis(62)='sndrD4_g15',
  dtype(63)='seviri',    dplat(63)='m08',       dsis(63)='seviri_m08',
  dtype(64)='seviri',    dplat(64)='m09',       dsis(64)='seviri_m09',
  dtype(65)='seviri',    dplat(65)='m10',       dsis(65)='seviri_m10',
  dtype(66)='atms',      dplat(66)='npp',       dsis(66)='atms_npp',
  dtype(67)='cris',      dplat(67)='npp',       dsis(67)='cris_npp',
  dtype(68)='hirs4',     dplat(68)='metop-b',   dsis(68)='hirs4_metop-b',
  dtype(69)='amsua',     dplat(69)='metop-b',   dsis(69)='amsua_metop-b',
  dtype(70)='mhs',       dplat(70)='metop-b',   dsis(70)='mhs_metop-b',
  dtype(71)='iasi',      dplat(71)='metop-b',   dsis(71)='iasi_metop-b',
  dtype(72)='avhrr',     dplat(72)='metop-b',   dsis(72)='avhrr3_metop-b',
  dtype(73)='avhrr',     dplat(73)='metop-a',   dsis(73)='avhrr3_metop-a',
  dtype(74)='avhrr',     dplat(74)='n19',       dsis(74)='avhrr3_n19',
  dtype(75)='tmi',       dplat(75)='trmm',      dsis(75)='tmi_trmm',
  dtype(76)='gmi',       dplat(76)='gpm',       dsis(76)='gmi_gpm',
  dtype(77)='atms',      dplat(77)='n20',       dsis(77)='atms_n20',
  dtype(78)='cris-fsr',  dplat(78)='n20',       dsis(78)='cris-fsr_n20',
  dtype(79)='amsr2',     dplat(79)='gcom-w1',   dsis(79)='amsr2_gcom-w1',
  dtype(80)='amsua',     dplat(80)='metop-c',   dsis(80)='amsua_metop-c',
  dtype(81)='mhs',       dplat(81)='metop-c',   dsis(81)='mhs_metop-c',
  dtype(82)='cris-fsr',  dplat(82)='npp',       dsis(82)='cris-fsr_npp',
  dtype(83)='iasi',      dplat(83)='metop-c',   dsis(83)='iasi_metop-c',
/
  dtype(46)='ssu',       dplat(46)='n14',       dsis(46)='ssu_n14',
  dtype(47)='hsb',       dplat(47)='aqua',      dsis(47)='hsb_aqua',
  dtype(48)='hirs3',     dplat(48)='n15',       dsis(48)='hirs3_n15',
