
MAPLROOT_COMPNAME: AGCM_PERT
        ROOT_NAME: AGCM_PERT
ROOT_CF: AGCM_apert.rc
FHIST_CF: FORWARD_HISTORY.rc
BHIST_CF: BACKWARD_HISTORY.rc

BEG_DATE:     >>>NYMDB<<< >>>NHMSB<<<
END_DATE:     >>>NYMDE<<< >>>NHMSE<<<
JOB_SGMT:     >>>JOB_SGMT<<<
HEARTBEAT_DT: @PERT_DT
NUM_SGMT:     1

MAPL_ENABLE_TIMERS: NO
MAPL_ENABLE_MEMUTILS: NO
PRINTSPEC: 0  # (0: OFF, 1: IMPORT & EXPORT, 2: IMPORT, 3: EXPORT)

