 &fv_core_pert_nml
       split_hord = .F.
       hord_mt_pert = 2
       hord_vt_pert = 333
       hord_tm_pert = 333
       hord_dp_pert = 333
       hord_tr_pert = 333
       n_sponge_pert = 9
       hord_ks_traj = .F.
       hord_mt_ks_traj = 1
       hord_vt_ks_traj = 1
       hord_tm_ks_traj = 1
       hord_dp_ks_traj = 1
       hord_tr_ks_traj = 1
       hord_ks_pert = .F.
       hord_mt_ks_pert = 1
       hord_vt_ks_pert = 1
       hord_tm_ks_pert = 1
       hord_dp_ks_pert = 1
       hord_tr_ks_pert = 1
       split_kord = .F.
       kord_mt_pert = 17
       kord_wz_pert = 17
       kord_tm_pert = 17
       kord_tr_pert = 17
       split_damp = .F.
       nord_pert = 2
       d2_bg_pert = 0.0
       d4_bg_pert = 0.13
       dddmp_pert = 0.1
       do_vort_damp_pert = .T.
       vtdm4_pert = 0.06
       d2_bg_k1_pert = 0.24
       d2_bg_k2_pert = 0.25
       d2_bg_ks_pert = 0.19
       split_damp_tr = .F.
       nord_tr_pert = 0
       trdm2_pert = 0.0
 /
