#######################################################################
#                 Create History List for Output
#######################################################################

EXPID:  @EXPID
EXPDSC: @EXPDSC

COLLECTIONS: 'diag_sfc'
             'asm.eta'
             'bkg.eta'
             'bkg.sfc'
             'tavg3d_cld_v'
             'tavg3d_dyn_v'
             'tavg3d_prs_v'
             'tavg3d_met_e'
             'tavg3d_mst_v'
             'tavg3d_tmp_v'
             'tavg3d_wnd_v'
             'inst3d_iau_v'
             'inst3d_iau_e'
             'vtx.mix'
             'prepqc_trigger'
@4DVAR       'traj.lcv'
@4ASEN       'traj_lcv_rst'
              ::

  diag_sfc.format:     'CFIO',
  diag_sfc.template:   '%y4%m2%d2_%h2%n2z.nc4',
  diag_sfc.mode:       'time-averaged',
  diag_sfc.end_date:   >>>IOEDATE<<< ,
  diag_sfc.end_time:   >>>IOETIME<<< ,
  diag_sfc.frequency:  @FREQ2D,
  diag_sfc.duration:   @FREQ2D,
  diag_sfc.fields:     'CLDHI'     , 'SOLAR'      ,  'CLDHGH'   ,
                       'CLDMD'     , 'SOLAR'      ,  'CLDMID'   ,
                       'CLDLO'     , 'SOLAR'      ,  'CLDLOW'   ,
                       'CLDTT'     , 'SOLAR'      ,  'CLDTOT'   ,
                       'D0'        , 'SURFACE'    ,  'DISPH'    ,
                       'TAUHI'     , 'SOLAR'      ,  'TAUHGH'   ,
                       'TAUMD'     , 'SOLAR'      ,  'TAUMID'   ,
                       'TAULO'     , 'SOLAR'      ,  'TAULOW'   ,
                       'TAUTT'     , 'SOLAR'      ,  'TAUTOT'   ,
                       'OSR'       , 'SOLAR'      ,  'SWTUP'     ,
                       'OSRCLR'    , 'SOLAR'      ,  'SWTUPCLR'  ,
                       'SLRTP'     , 'SOLAR'      ,  'SWTDWN'    ,
                       'RSRS'      , 'SOLAR'      ,  'SWGNET'    ,
                       'RSCS'      , 'SOLAR'      ,  'SWGNETCLR' , 
                       'SLRSF'     , 'SOLAR'      ,  'SWGDWN'    ,
                       'SLRSFC'    , 'SOLAR'      ,  'SWGDWNCLR' ,
                       'RSR'       , 'SOLAR'      ,  'FSNT'     ,
                       'RSC'       , 'SOLAR'      ,  'FSNTC'    ,
                       'DFPAR'     , 'SOLAR'      ,  'PARDF'    ,
                       'DRPAR'     , 'SOLAR'      ,  'PARDR'    ,
                       'CLDPRS'    , 'IRRAD'      ,
                       'CLDTMP'    , 'IRRAD'      ,
                       'FLNS'      , 'IRRAD'      ,  'LWGNET'    ,
                       'FLNSC'     , 'IRRAD'      ,  'LWGNETCLR' ,
                       'SFCEM'     , 'IRRAD'      ,  'LWGUP'     ,
                       'LWS'       , 'IRRAD'      ,  'LWGDWN'    ,
                       'LCS'       , 'IRRAD'      ,  'LWGDWNCLR' ,
                       'OLR'       , 'IRRAD'      ,  'LWTUP'     ,
                       'OLC'       , 'IRRAD'      ,  'LWTUPCLR'  ,
                       'RADSRF'    , 'RADIATION'  ,  'SRFRAD'   ,
                       'ZPBL'      , 'TURBULENCE' ,  'PBLH'     ,
                       'RASTIME'   , 'MOIST'      ,
                       'RASPBLQ'   , 'MOIST'      ,
                       'CAPE'      , 'MOIST'      ,  'CAPEMX'   ,
                       'TPREC'     , 'MOIST'      ,  'PRECTOT'  ,
                       'CN_PRCP'   , 'MOIST'      ,  'PRECCON'  ,
                       'LS_PRCP'   , 'MOIST'      ,  'PRECLSC'  ,
                       'AN_PRCP'   , 'MOIST'      ,  'PRECANV'  ,
                       'SNO'       , 'MOIST'      ,  'PRECSNO'  ,
                       'IWP'       , 'MOIST'      ,
                       'LWP'       , 'MOIST'      ,
                       'CCWP'      , 'MOIST'      ,
                       'TQV'       , 'AGCM'       ,  'TPW'      ,
                       'ALBEDO'    , 'SOLAR'      ,
                       'ALBNF'     , 'SOLAR'      ,  'ALBNIRDF' ,
                       'ALBNR'     , 'SOLAR'      ,  'ALBNIRDR' ,
                       'ALBVF'     , 'SOLAR'      ,  'ALBVISDF' ,
                       'ALBVR'     , 'SOLAR'      ,  'ALBVISDR' ,
                       'WET2'      , 'SURFACE'    ,  'GWETROOT' ,
                       'WET1'      , 'SURFACE'    ,  'GWETTOP'  ,
                       'DELTS'     , 'SURFACE'    ,  'DTG'      ,
                       'EMIS'      , 'SURFACE'    ,
                       'LAI'       , 'SURFACE'    ,
                       'GRN'       , 'SURFACE'    ,
                       'LHFX'      , 'SURFACE'    ,  'EFLUX'    ,
                       'LWI'       , 'SURFACE'    ,
                       'FRLAND'    , 'SURFACE'    ,
                       'FROCEAN'   , 'SURFACE'    ,
                       'FRLAKE'    , 'SURFACE'    ,
                       'FRLANDICE' , 'SURFACE'    ,
                       'EVAP'      , 'SURFACE'    ,
                       'SH'        , 'SURFACE'    ,  'HFLUX'    ,
                       'SNOMAS'    , 'SURFACE'    ,
                       'SNOWDP'    , 'SURFACE'    ,  'SNODP'    ,
                       'Q10M'      , 'SURFACE'    ,  'QV10M'    ,
                       'Q2M'       , 'SURFACE'    ,  'QV2M'     ,
                       'T10M'      , 'SURFACE'    ,
                       'T2M'       , 'SURFACE'    ,
                       'TAUX'      , 'SURFACE'    ,
                       'TAUY'      , 'SURFACE'    ,
                       'TS'        , 'SURFACE'    ,  'TSKIN'    ,
                       'TO3'       , 'CHEMISTRY'  ,
                       'TTO3'      , 'CHEMISTRY'  ,
                       'U10N'      , 'SURFACE'    ,  'U10M'     ,
                       'V10N'      , 'SURFACE'    ,  'V10M'     ,
                       'U2M'       , 'SURFACE'    ,
                       'V2M'       , 'SURFACE'    ,
                       'U50M'      , 'DYN'        ,
                       'V50M'      , 'DYN'        ,
                       'USTAR'     , 'SURFACE'    ,
                       'BSTAR'     , 'SURFACE'    ,
                       'TSTAR'     , 'SURFACE'    ,
                       'QSTAR'     , 'SURFACE'    ,
                       'RI'        , 'SURFACE'    ,
                       'RHOS'      , 'SURFACE'    , 'RHOA'      ,
                       'Z0H'       , 'SURFACE'    ,
                       'Z0'        , 'SURFACE'    ,  'Z0M'      ,
                       'D0'        , 'SURFACE'    ,  'ZPD'      ,
                       'TAUGWX'    , 'GWD'        ,
                       'TAUGWY'    , 'GWD'        , 
                       'SLP'       , 'DYN'        ,
                       'PS'        , 'DYN'        ,
                       'TROPP_EPV'     , 'AGCM'   ,  'TROPPV' ,
                       'TROPP_THERMAL' , 'AGCM'   ,  'TROPPT' ,
                       'TROPP_BLENDED' , 'AGCM'   ,  'TROPPB' ,
                       'TROPT'         , 'AGCM'   ,
                       'TROPQ'         , 'AGCM'   ,
                       'QVFILL'    , 'AGCM'       ,
                       'OXFILL'    , 'AGCM'       ,
                       'PHIS'      , 'SUPERDYNAMICS' ,
                       ::

  asm.eta.format:     'CFIO' ,
  asm.eta.template:   '%y4%m2%d2_%h2z.nc4',
  asm.eta.ref_time:   000000 ,
  asm.eta.end_date:   >>>IOEDATE<<< ,
  asm.eta.end_time:   >>>IOETIME<<< ,
  asm.eta.frequency:  060000   ,
  asm.eta.duration:   060000   ,
  asm.eta.mode:       'instantaneous',
  asm.eta.fields:     'PHIS'     , 'SUPERDYNAMICS' , 'phis'         ,
                      'SGH'      , 'SUPERDYNAMICS' , 'hs_stdv'      ,
                      'LWI'      , 'SURFACE'       , 'lwi'          ,
                      'TS'       , 'SURFACE'       , 'ts'           ,
                      'PS'       , 'DYN'           , 'ps'           ,
                      'DELP'     , 'DYN'           , 'delp'         ,
                      'U'        , 'DYN'           , 'u'            ,
                      'V'        , 'DYN'           , 'v'            ,
                      'TV'       , 'DYN'           , 'tv'           ,
                      'Q'        , 'MOIST'         , 'sphu'         ,
                      'QCTOT'    , 'AGCM'          , 'qctot'        ,
                      'O3PPMV'   , 'CHEMISTRY'     , 'ozone'        ,
                      ::

  bkg.eta.format:     'CFIO' ,
  bkg.eta.template:   '%y4%m2%d2_%h2z.nc4',
  bkg.eta.ref_date:  >>>IOBBKGD<<< ,
  bkg.eta.ref_time:  >>>IOBBKGT<<< ,
  bkg.eta.end_date:  >>>IOEBKGD<<< ,
  bkg.eta.end_time:  >>>IOEBKGT<<< ,
  bkg.eta.frequency:  @ASYNFRQ ,
  bkg.eta.duration:   @ASYNFRQ ,
  bkg.eta.mode:       'instantaneous',
  bkg.eta.fields:     'PHIS'     , 'SUPERDYNAMICS' , 'phis'         ,
                      'SGH'      , 'SUPERDYNAMICS' , 'hs_stdv'      ,
                      'LWI'      , 'SURFACE'       , 'lwi'          ,
                      'TS'       , 'SURFACE'       , 'ts'           ,
                      'PS'       , 'DYN'           , 'ps'           ,
                      'DELP'     , 'DYN'           , 'delp'         ,
                      'U'        , 'DYN'           , 'u'            ,
                      'V'        , 'DYN'           , 'v'            ,
                      'TV'       , 'DYN'           , 'tv'           ,
                      'Q'        , 'MOIST'         , 'sphu'         ,
                      'QCTOT'    , 'AGCM'          , 'qctot'        ,
                      'O3PPMV'   , 'CHEMISTRY'     , 'ozone'        ,
                      ::


  bkg.sfc.format:     'CFIO' ,
  bkg.sfc.template:   '%y4%m2%d2_%h2z.nc4',
  bkg.sfc.ref_date:  >>>IOBBKGD<<< ,
  bkg.sfc.ref_time:  >>>IOBBKGT<<< ,
  bkg.sfc.end_date:  >>>IOEBKGD<<< ,
  bkg.sfc.end_time:  >>>IOEBKGT<<< ,
  bkg.sfc.frequency:  @ASYNFRQ ,
  bkg.sfc.duration:   @ASYNFRQ ,
  bkg.sfc.mode:       'instantaneous',
  bkg.sfc.fields:     'PHIS'     , 'SUPERDYNAMICS' ,
                      'US'       , 'DYN'           , 'UA'        ,  
                      'VS'       , 'DYN'           , 'VA'        ,
                      'TA'       , 'DYN'           ,
                      'QA'       , 'DYN'           ,
                      'TS'       , 'SURFACE'       , 'TSKIN'     ,
                      'QS'       , 'SURFACE'       ,
                      'U2M'      , 'SURFACE'       ,
                      'V2M'      , 'SURFACE'       ,
                      'T2M'      , 'SURFACE'       ,
                      'Q2M'      , 'SURFACE'       ,
                      'U10N'     , 'SURFACE'       , 'U10M'      ,
                      'V10N'     , 'SURFACE'       , 'V10M'      ,
                      'T10M'     , 'SURFACE'       ,
                      'Q10M'     , 'SURFACE'       ,
                      'U50M'     , 'DYN'           ,
                      'V50M'     , 'DYN'           ,
                      'SH'       , 'SURFACE'       , 'HFLUX'     ,
                      'LHFX'     , 'SURFACE'       , 'EFLUX'     ,
                      'TAUX'     , 'SURFACE'       , 'UFLUX'     ,
                      'TAUY'     , 'SURFACE'       , 'VFLUX'     ,
                      'SNOMAS'   , 'SURFACE'       , 'SNOWDP'    ,
                      'WET1'     , 'SURFACE'       , 'GWETTOP'   ,
                      'TSOIL1'   , 'SURFACE'       ,
                      'FRLAND'   , 'SURFACE'       ,
                      'FRLANDICE', 'SURFACE'       ,
                      'FRLAKE'   , 'SURFACE'       ,
                      'FROCEAN'  , 'SURFACE'       ,
                      'LWI'      , 'SURFACE'       , 'ORO'       ,
                      'COSZ'     , 'SOLAR'         ,
                      'QHAT'     , 'SURFACE'       ,
                      'THAT'     , 'SURFACE'       ,
                      'VENT'     , 'SURFACE'       ,
                      'GUST'     , 'SURFACE'       ,
                      'CM'       , 'SURFACE'       ,
                      'CQ'       , 'SURFACE'       ,
                      'CT'       , 'SURFACE'       ,
                      'D0'       , 'SURFACE'       , 'DISPH'    ,
                      'Z0'       , 'SURFACE'       , 'Z0M'      ,
                      ::

  tavg3d_cld_v.format:     'CFIO',
  tavg3d_cld_v.template:   '%y4%m2%d2_%h2%n2z.nc4',
  tavg3d_cld_v.mode:       'time-averaged',
  tavg3d_cld_v.end_date:  >>>IOEDATE<<< ,
  tavg3d_cld_v.end_time:  >>>IOETIME<<< ,
  tavg3d_cld_v.ref_date:  >>>IOEDATE<<< ,
  tavg3d_cld_v.ref_time:  >>>IOETIME<<< ,
  tavg3d_cld_v.frequency:  060000,
  tavg3d_cld_v.duration:   060000,
  tavg3d_cld_v.fields:     'PS'       , 'DYN'           ,
                           'DELP'     , 'DYN'           ,
                           'FCLD'     , 'SOLAR'         ,  'CLOUD'    ,
                           'DQRC'     , 'MOIST'         ,  'DQRCON'   ,
                           'DQRL'     , 'MOIST'         ,  'DQRLSC'   ,
                           'CNV_MFD'  , 'MOIST'         ,  'DTRAIN'   ,
                           'QITOT'    , 'AGCM'          ,  'QI'       ,
                           'QLTOT'    , 'AGCM'          ,  'QL'       ,
                           'TAUCLI'   , 'SOLAR'         ,
                           'TAUCLW'   , 'SOLAR'         ,
                           ::

  tavg3d_dyn_v.format:     'CFIO',
  tavg3d_dyn_v.template:   '%y4%m2%d2_%h2%n2z.nc4',
  tavg3d_dyn_v.mode:       'time-averaged',
  tavg3d_dyn_v.end_date:  >>>IOEDATE<<< ,
  tavg3d_dyn_v.end_time:  >>>IOETIME<<< ,
  tavg3d_dyn_v.ref_date:  >>>IOEDATE<<< ,
  tavg3d_dyn_v.ref_time:  >>>IOETIME<<< ,
  tavg3d_dyn_v.frequency:  060000,
  tavg3d_dyn_v.duration:   060000,
  tavg3d_dyn_v.fields:     'PS'       , 'DYN'           ,
                           'DELP'     , 'DYN'           ,
                           'DTDTTOT'  , 'PHYSICS'       ,
                           'ZL'       , 'DYN'           ,  'HGHT'     ,
                           'MFX'      , 'DYN'           ,  'MFXC'     ,
                           'MFY'      , 'DYN'           ,  'MFYC'     ,
                           'O3'       , 'CHEMISTRY'     ,
                           'OMEGA'    , 'DYN'           ,
                           'PV'       , 'DYN'           ,
                           'EPV'      , 'DYN'           ,
                           'Q'        , 'MOIST'         ,  'QV'       ,
                           'RH2'      , 'MOIST'         ,  'RH'       ,
                           'T'        , 'DYN'           ,
                           'U'        , 'DYN'           ,
                           'V'        , 'DYN'           ,
                           ::

  tavg3d_prs_v.format:     'CFIO',
  tavg3d_prs_v.template:   '%y4%m2%d2_%h2%n2z.nc4',
  tavg3d_prs_v.mode:       'time-averaged',
  tavg3d_prs_v.end_date:  >>>IOEDATE<<< ,
  tavg3d_prs_v.end_time:  >>>IOETIME<<< ,
  tavg3d_prs_v.ref_date:  >>>IOEDATE<<< ,
  tavg3d_prs_v.ref_time:  >>>IOETIME<<< ,
  tavg3d_prs_v.frequency:  060000,
  tavg3d_prs_v.duration:   060000,
  tavg3d_prs_v.fields:     'PS'       , 'DYN'           ,
                           'DELP'     , 'DYN'           ,
                           'PL'       , 'DYN'           ,
                           ::

  tavg3d_met_e.format:     'CFIO',
  tavg3d_met_e.template:   '%y4%m2%d2_%h2%n2z.nc4',
  tavg3d_met_e.mode:       'time-averaged',
  tavg3d_met_e.end_date:  >>>IOEDATE<<< ,
  tavg3d_met_e.end_time:  >>>IOETIME<<< ,
  tavg3d_met_e.ref_date:  >>>IOEDATE<<< ,
  tavg3d_met_e.ref_time:  >>>IOETIME<<< ,
  tavg3d_met_e.frequency:  060000,
  tavg3d_met_e.duration:   060000,
  tavg3d_met_e.fields:     'PLE'     , 'DYN'           ,
                           'CNV_MFC' , 'MOIST'         ,  'CMFMC'  ,
                           'ZLE'     , 'DYN'           ,  'HGHTE'  ,
                           'KH'      , 'TURBULENCE'    ,
                           'KM'      , 'TURBULENCE'    , 
                           'MFZ'     , 'DYN'           , 
                           ::

  tavg3d_mst_v.format:     'CFIO',
  tavg3d_mst_v.template:   '%y4%m2%d2_%h2%n2z.nc4',
  tavg3d_mst_v.mode:       'time-averaged',
  tavg3d_mst_v.end_date:  >>>IOEDATE<<< ,
  tavg3d_mst_v.end_time:  >>>IOETIME<<< ,
  tavg3d_mst_v.ref_date:  >>>IOEDATE<<< ,
  tavg3d_mst_v.ref_time:  >>>IOETIME<<< ,
  tavg3d_mst_v.frequency:  060000,
  tavg3d_mst_v.duration:   060000,
  tavg3d_mst_v.fields:     'PS'       , 'DYN'           ,
                           'DELP'     , 'DYN'           ,
                           'DQIDT'    , 'MOIST'         ,  'DQIDTMST'   ,
                           'DQLDT'    , 'MOIST'         ,  'DQLDTMST'   ,
                           'DQVDTDYN' , 'DYN'           ,
                           'DQDT'     , 'MOIST'         ,  'DQVDTMST'   ,
                           'QVIT'     , 'PHYSICS'       ,  'DQVDTTRB'   ,
                           ::

  tavg3d_tmp_v.format:     'CFIO',
  tavg3d_tmp_v.template:   '%y4%m2%d2_%h2%n2z.nc4',
  tavg3d_tmp_v.mode:       'time-averaged',
  tavg3d_tmp_v.end_date:  >>>IOEDATE<<< ,
  tavg3d_tmp_v.end_time:  >>>IOETIME<<< ,
  tavg3d_tmp_v.ref_date:  >>>IOEDATE<<< ,
  tavg3d_tmp_v.ref_time:  >>>IOETIME<<< ,
  tavg3d_tmp_v.frequency:  060000,
  tavg3d_tmp_v.duration:   060000,
  tavg3d_tmp_v.fields:     'PS'       , 'DYN'           ,
                           'DELP'     , 'DYN'           ,
                           'DTDTDYN'  , 'DYN'           ,
                           'TIF'      , 'PHYSICS'       ,  'DTDTFRI'    ,
                           'TTMGW'    , 'GWD'           ,  'DTDTGWD'    ,
                           'RADLW'    , 'RADIATION'     ,  'DTDTLWR'    ,
                           'RADLWC'   , 'RADIATION'     ,  'DTDTLWRCLR' ,
                           'TIM'      , 'PHYSICS'       ,  'DTDTMST'    ,
                           'RADSW'    , 'RADIATION'     ,  'DTDTSWR'    ,
                           'RADSWC'   , 'RADIATION'     ,  'DTDTSWRCLR' ,
                           'TIT'      , 'PHYSICS'       ,  'DTDTTRB'    ,
                           ::

  tavg3d_wnd_v.format:    'CFIO',
  tavg3d_wnd_v.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tavg3d_wnd_v.mode:      'time-averaged',
  tavg3d_wnd_v.end_date:  >>>IOEDATE<<< ,
  tavg3d_wnd_v.end_time:  >>>IOETIME<<< ,
  tavg3d_wnd_v.ref_date:  >>>IOEDATE<<< ,
  tavg3d_wnd_v.ref_time:  >>>IOETIME<<< ,
  tavg3d_wnd_v.frequency: 060000,
  tavg3d_wnd_v.duration:  060000,
  tavg3d_wnd_v.fields:    'PS'       , 'DYN'           ,
                          'DELP'     , 'DYN'           ,
                          'DUDTDYN'  , 'DYN'           ,
                          'DUDT'     , 'GWD'           ,  'DUDTGWD'    ,
                          'DUDT'     , 'MOIST'         ,  'DUDTMST'    ,
                          'UIT'      , 'PHYSICS'       ,  'DUDTTRB'    ,
                          'DVDTDYN'  , 'DYN'           ,
                          'DVDT'     , 'GWD'           ,  'DVDTGWD'    ,
                          'DVDT'     , 'MOIST'         ,  'DVDTMST'    ,
                          'VIT'      , 'PHYSICS'       ,  'DVDTTRB'    ,
                          ::

  inst3d_iau_v.format:    'CFIO',
  inst3d_iau_v.template:  '%y4%m2%d2_%h2%n2z.nc4',
  inst3d_iau_v.mode:      'instantaneous',
  inst3d_iau_v.end_date:  >>>IOEDATE<<< ,
  inst3d_iau_v.end_time:  >>>IOETIME<<< ,
  inst3d_iau_v.ref_time:  000000,
  inst3d_iau_v.frequency: 060000,
  inst3d_iau_v.duration:  060000,
  inst3d_iau_v.fields:   'PS'           , 'DYN'           ,
                         'DELP'         , 'DYN'           ,
                         'DUDT_ANA'     , 'AGCM'          ,  'DUDTANA'    ,
                         'DVDT_ANA'     , 'AGCM'          ,  'DVDTANA'    ,
                         'DTDT_ANA'     , 'AGCM'          ,  'DTDTANA'    ,
                         'DQVDT_ANA'    , 'AGCM'          ,  'DQVDTANA'   ,
                         'DO3DT_ANA'    , 'AGCM'          ,  'DO3DTANA'   ,
                         ::

  inst3d_bias_v.format:    'CFIO',
  inst3d_bias_v.template:  '%y4%m2%d2_%h2%n2z.nc4',
  inst3d_bias_v.mode:      'instantaneous',
  inst3d_bias_v.end_date:  >>>IOEDATE<<< ,
  inst3d_bias_v.end_time:  >>>IOETIME<<< ,
  inst3d_bias_v.ref_time:  000000,
  inst3d_bias_v.frequency: 060000,
  inst3d_bias_v.duration:  060000,
  inst3d_bias_v.fields:   'PS'           , 'DYN'           ,
                          'DELP'         , 'DYN'           ,
                          'DUDT'         , 'AGCM'          ,  'DUDTBIAS'   ,
                          'DVDT'         , 'AGCM'          ,  'DVDTBIAS'   ,
                          'DTDT'         , 'AGCM'          ,  'DTDTBIAS'   ,
                          'DQVDT'        , 'AGCM'          ,  'DQVDTBIAS'  ,
                          'DO3DT'        , 'AGCM'          ,  'DO3DTBIAS'  ,
                          ::

  inst3d_iau_e.format:    'CFIO',
  inst3d_iau_e.template:  '%y4%m2%d2_%h2%n2z.nc4',
  inst3d_iau_e.mode:      'instantaneous',
  inst3d_iau_e.end_date:  >>>IOEDATE<<< ,
  inst3d_iau_e.end_time:  >>>IOETIME<<< ,
  inst3d_iau_e.ref_time:  000000,
  inst3d_iau_e.frequency: 060000,
  inst3d_iau_e.duration:  060000,
  inst3d_iau_e.fields:   'PLE'          , 'DYN'          ,
                         'DPEDT_ANA'    , 'AGCM'         ,  'DPEDTANA'  , 
                         ::

  inst3d_bias_e.format:    'CFIO',
  inst3d_bias_e.template:  '%y4%m2%d2_%h2%n2z.nc4',
  inst3d_bias_e.mode:      'instantaneous',
  inst3d_bias_e.end_date:  >>>IOEDATE<<< ,
  inst3d_bias_e.end_time:  >>>IOETIME<<< ,
  inst3d_bias_e.ref_time:  000000,
  inst3d_bias_e.frequency: 060000,
  inst3d_bias_e.duration:  060000,
  inst3d_bias_e.fields:   'PLE'          , 'DYN'          ,
                          'DPEDT'        , 'AGCM'         ,  'DPEDTBIAS' , 
                          ::

  vtx.mix.format:     'CFIO' ,
  vtx.mix.template:   '%y4%m2%d2_%h2z.nc4',
  vtx.mix.frequency:  @ASYNFRQ ,
  vtx.mix.duration:   @ASYNFRQ ,
  vtx.mix.mode:       'instantaneous',
  vtx.mix.ref_date:   >>>IOBBKGD<<< ,
  vtx.mix.ref_time:   >>>IOBBKGT<<< ,
  vtx.mix.end_date:   >>>IOEBKGD<<< ,
  vtx.mix.end_time:   >>>IOEBKGT<<< ,
  vtx.mix.fields:     'PHIS'     , 'SUPERDYNAMICS' ,
                      'SLP'      , 'DYN'           ,
                      'PS'       , 'DYN'           ,
                      'DELP'     , 'DYN'           ,
                      'U'        , 'DYN'           ,
                      'V'        , 'DYN'           ,
                      'T'        , 'DYN'           ,
                      'Q'        , 'MOIST'         ,
                      'OMEGA'    , 'DYN'           ,
                      'TPREC'    , 'MOIST'         , 'PRECP'   ,
                      'CLDLO'    , 'SOLAR'         ,
                      'CLDMD'    , 'SOLAR'         ,
                      'CLDHI'    , 'SOLAR'         ,
                      'CLDTT'    , 'SOLAR'         ,
                      'US'       , 'DYN'           ,
                      'VS'       , 'DYN'           ,
                      'TS'       , 'SURFACE'       ,
                      'PV'       , 'DYN'           ,
                      'EPV'      , 'DYN'           ,
                      ::


#                     ---------------------
#                     Aerosols/Constituents
#                     ---------------------
#
#
  tavg3d_chm_v_unz.format:     'CFIO' ,
  tavg3d_chm_v_unz.template:   '%y4%m2%d2_%h2%n2z.nc4',
  tavg3d_chm_v_unz.frequency:  060000 ,
  tavg3d_chm_v_unz.duration:   060000 ,
  tavg3d_chm_v_unz.ref_time:   000000 ,
  tavg3d_chm_v_unz.mode:       'instantaneous',
  tavg3d_chm_v_unz.end_date:   >>>IOEDATE<<< ,
  tavg3d_chm_v_unz.end_time:   >>>IOETIME<<< ,
  tavg3d_chm_v_unz.fields:     'PS'        , 'DYN'           , 'ps'        ,
                               'DELP'      , 'DYN'           , 'delp'      ,
                               'LWI'       , 'SURFACE'       , 'LWI'       ,
                               'GOCART::CO'       , 'GOCART' , 'CO'        ,
                               'GOCART::CObbbo'       , 'GOCART' , 'CObbbo'        ,
                               'GOCART::CObbnb'       , 'GOCART' , 'CObbnb'        ,
                               'GOCART::COffru'       , 'GOCART' , 'COffru'        ,
                               'GOCART::COffas'       , 'GOCART' , 'COffas'        ,
                               'GOCART::COffeu'       , 'GOCART' , 'COffeu'        ,
                               'GOCART::COffna'       , 'GOCART' , 'COffna'        ,
                               'GOCART::CO2'      , 'GOCART' , 'CO2'       ,
                               'GOCART::CFC12S'   , 'GOCART' , 'CFC12S'    ,
                               'GOCART::CFC12T'   , 'GOCART' , 'CFC12T'    ,
#                               'CFC12SLS'         , 'GOCART' , 'CFC12SLS'  ,
#                               'CFC12TLS'         , 'GOCART' , 'CFC12TLS'  ,
                               ::
 
  inst3d_chm_v_unz.format:     'CFIO' ,
  inst3d_chm_v_unz.template:   '%y4%m2%d2_%h2%n2z.nc4',
  inst3d_chm_v_unz.frequency:  060000 ,
  inst3d_chm_v_unz.duration:   060000 ,
  inst3d_chm_v_unz.ref_time:   000000 ,
  inst3d_chm_v_unz.mode:       'instantaneous',
  inst3d_chm_v_unz.end_date:   >>>IOEDATE<<< ,
  inst3d_chm_v_unz.end_time:   >>>IOETIME<<< ,
  inst3d_chm_v_unz.fields:     'PS'        , 'DYN'           , 'ps'        ,
                               'DELP'      , 'DYN'           , 'delp'      ,
                               'GOCART::CO'       , 'GOCART' , 'CO'        ,
                               'GOCART::CObbbo'       , 'GOCART' , 'CObbbo'        ,
                               'GOCART::CObbnb'       , 'GOCART' , 'CObbnb'        ,
                               'GOCART::COffru'       , 'GOCART' , 'COffru'        ,
                               'GOCART::COffas'       , 'GOCART' , 'COffas'        ,
                               'GOCART::COffeu'       , 'GOCART' , 'COffeu'        ,
                               'GOCART::COffna'       , 'GOCART' , 'COffna'        ,
                               'GOCART::CO2'      , 'GOCART' , 'CO2'       ,
                               'GOCART::CFC12S'   , 'GOCART' , 'CFC12S'    ,
                               'GOCART::CFC12T'   , 'GOCART' , 'CFC12T'    ,
#                               'CFC12SLS'         , 'GOCART' , 'CFC12SLS'  ,
#                               'CFC12TLS'         , 'GOCART' , 'CFC12TLS'  ,
                               ::
 
  inst3d_aer_v_unz.format:     'CFIO' ,
  inst3d_aer_v_unz.template:   '%y4%m2%d2_%h2%n2z.nc4',
  inst3d_aer_v_unz.frequency:  060000 ,
  inst3d_aer_v_unz.duration:   060000 ,
  inst3d_aer_v_unz.ref_time:   000000 ,
  inst3d_aer_v_unz.mode:       'instantaneous',
  inst3d_aer_v_unz.end_date:   >>>IOEDATE<<< ,
  inst3d_aer_v_unz.end_time:   >>>IOETIME<<< ,
  inst3d_aer_v_unz.fields:     'PS'           ,    'DYN'     , 'ps'        ,
                               'DELP'         ,    'DYN'     , 'delp'      ,
                               'LWI'          , 'SURFACE'    , 'LWI'       ,
                               'RH2'          ,    'MOIST'   , 'RH'        ,
                               'AIRDENS'      ,  'CHEMENV'   , 
# Dust
                               'GOCART::du001',    'GOCART'  , 'du001'     ,
                               'GOCART::du002',    'GOCART'  , 'du002'     ,
                               'GOCART::du003',    'GOCART'  , 'du003'     ,
                               'GOCART::du004',    'GOCART'  , 'du004'     ,
                               'GOCART::du005',    'GOCART'  , 'du005'     ,
# Sea-salt
                               'GOCART::ss001',    'GOCART'  , 'ss001'     ,
                               'GOCART::ss002',    'GOCART'  , 'ss002'     ,
                               'GOCART::ss003',    'GOCART'  , 'ss003'     ,
                               'GOCART::ss004',    'GOCART'  , 'ss004'     ,
                               'GOCART::ss005',    'GOCART'  , 'ss005'     ,
# Sulfates
                               'GOCART::DMS',      'GOCART'  , 'DMS'  ,
                               'GOCART::SO2',      'GOCART'  , 'SO2'  ,
                               'GOCART::SO4',      'GOCART'  , 'SO4'  ,
                               'GOCART::MSA',      'GOCART'  , 'MSA'  ,
# Carbonaceous (main)
                               'GOCART::BCphobic', 'GOCART'  , 'BCphobic'     ,
                               'GOCART::BCphilic', 'GOCART'  , 'BCphilic'     ,
                               'GOCART::OCphobic', 'GOCART'  , 'OCphobic'     ,
                               'GOCART::OCphilic', 'GOCART'  , 'OCphilic'     , 
# Organic Carbon (tag-tracers)
                               'GOCART::OCphobicbbbo', 'GOCART'  , 'OCphobicbbbo'     ,
                               'GOCART::OCphilicbbbo', 'GOCART'  , 'OCphilicbbbo'     , 
                               'GOCART::OCphobicbbnb', 'GOCART'  , 'OCphobicbbnb'     ,
                               'GOCART::OCphilicbbnb', 'GOCART'  , 'OCphilicbbnb'     , 
                               ::
 
  tavg2d_chm_x_unz.format:     'CFIO',
  tavg2d_chm_x_unz.template:   '%y4%m2%d2_%h2%n2z.nc4',
  tavg2d_chm_x_unz.mode:       'time-averaged',
  tavg2d_chm_x_unz.end_date:   >>>IOEDATE<<< ,
  tavg2d_chm_x_unz.end_time:   >>>IOETIME<<< ,
  tavg2d_chm_x_unz.frequency:  030000,
  tavg2d_chm_x_unz.duration:   030000,
  tavg2d_chm_x_unz.fields:     'LWI'         , 'SURFACE'     ,
                               'CO2EM001'    , 'GOCART'      ,
                               'CO2SC001'    , 'GOCART'      ,
                               'CO2CL001'    , 'GOCART'      ,
                               'CFC12EM'     , 'GOCART'      ,
                               'CFC12SCL'    , 'GOCART'      ,
                               'CFC12TCL'    , 'GOCART'      ,
                               'COEM'      , 'GOCART'      ,
                               'COEMbbbo'    , 'GOCART'      ,
                               'COEMbbnb'    , 'GOCART'      ,
                               'COEMffru'    , 'GOCART'      ,
                               'COEMffas'    , 'GOCART'      ,
                               'COEMffeu'    , 'GOCART'      ,
                               'COEMffna'    , 'GOCART'      ,
                               'COPD'      , 'GOCART'      ,
                               'COPDbbbo'    , 'GOCART'      ,
                               'COPDbbnb'    , 'GOCART'      ,
                               'COPDffru'    , 'GOCART'      ,
                               'COPDffas'    , 'GOCART'      ,
                               'COPDffeu'    , 'GOCART'      ,
                               'COPDffna'    , 'GOCART'      ,
                               'COLS'      , 'GOCART'      ,
                               'COLSbbbo'    , 'GOCART'      ,
                               'COLSbbnb'    , 'GOCART'      ,
                               'COLSffru'    , 'GOCART'      ,
                               'COLSffas'    , 'GOCART'      ,
                               'COLSffeu'    , 'GOCART'      ,
                               'COLSffna'    , 'GOCART'      ,
                               'COSC'      , 'GOCART'      ,
                               'COSCbbbo'    , 'GOCART'      ,
                               'COSCbbnb'    , 'GOCART'      ,
                               'COSCffru'    , 'GOCART'      ,
                               'COSCffas'    , 'GOCART'      ,
                               'COSCffeu'    , 'GOCART'      ,
                               'COSCffna'    , 'GOCART'      ,
                               'COCL'      , 'GOCART'      ,
                               'COCLbbbo'    , 'GOCART'      ,
                               'COCLbbnb'    , 'GOCART'      ,
                               'COCLffru'    , 'GOCART'      ,
                               'COCLffas'    , 'GOCART'      ,
                               'COCLffeu'    , 'GOCART'      ,
                               'COCLffna'    , 'GOCART'      ,
                               ::
 
 tavg3d_chm_p_unz.format:     'CFIO' ,
 tavg3d_chm_p_unz.template:   '%y4%m2%d2_%h2%n2z.nc4',
 tavg3d_chm_p_unz.frequency:  030000 ,
 tavg3d_chm_p_unz.duration:   030000 ,
 tavg3d_chm_p_unz.end_date:   >>>IOEDATE<<< ,
 tavg3d_chm_p_unz.end_time:   >>>IOETIME<<< ,
 tavg3d_chm_p_unz.mode:       'time-averaged',
 tavg3d_chm_p_unz.vscale:     100.0,
 tavg3d_chm_p_unz.vunit:      'hPa',
 tavg3d_chm_p_unz.vvars:      'log(PLE)' , 'DYN'          ,
 tavg3d_chm_p_unz.levels:     1000 975 950 925 900 850 800 750 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 30 20 10,
 tavg3d_chm_p_unz.fields:     'PS'          , 'DYN'        , 'PS'        ,
                              'LWI'       , 'SURFACE'       , 'LWI'       ,
                              'GOCART::CO'  , 'GOCART'     , 'CO'        ,
                              'GOCART::CObbbo'       , 'GOCART' , 'CObbbo'        ,
                              'GOCART::CObbnb'       , 'GOCART' , 'CObbnb'        ,
                              'GOCART::COffru'       , 'GOCART' , 'COffru'        ,
                              'GOCART::COffas'       , 'GOCART' , 'COffas'        ,
                              'GOCART::COffeu'       , 'GOCART' , 'COffeu'        ,
                              'GOCART::COffna'       , 'GOCART' , 'COffna'        ,
                              'GOCART::CO2'          , 'GOCART' , 'CO2'       ,
                              'GOCART::CFC12S'       , 'GOCART' , 'CFC12S'    ,
                              'GOCART::CFC12T'       , 'GOCART' , 'CFC12T'    ,
#                              'CFC12SLS'            , 'GOCART' , 'CFC12SLS'  ,
#                              'CFC12TLS'            , 'GOCART' , 'CFC12TLS'  ,
                              ::

  tavg2d_aer_x_unz.format:     'CFIO',
  tavg2d_aer_x_unz.template:   '%y4%m2%d2_%h2%n2z.nc4',
  tavg2d_aer_x_unz.mode:       'time-averaged',
  tavg2d_aer_x_unz.end_date:   >>>IOEDATE<<< ,
  tavg2d_aer_x_unz.end_time:   >>>IOETIME<<< ,
  tavg2d_aer_x_unz.frequency:  030000,
  tavg2d_aer_x_unz.duration:   030000,
  tavg2d_aer_x_unz.fields:     'DUEM001'     , 'GOCART'      ,
                               'DUEM002'     , 'GOCART'      ,
                               'DUEM003'     , 'GOCART'      ,
                               'DUEM004'     , 'GOCART'      ,
                               'DUEM005'     , 'GOCART'      ,
                               'DUSD001'     , 'GOCART'      ,
                               'DUSD002'     , 'GOCART'      ,
                               'DUSD003'     , 'GOCART'      ,
                               'DUSD004'     , 'GOCART'      ,
                               'DUSD005'     , 'GOCART'      ,
                               'DUDP001'     , 'GOCART'      ,
                               'DUDP002'     , 'GOCART'      ,
                               'DUDP003'     , 'GOCART'      ,
                               'DUDP004'     , 'GOCART'      ,
                               'DUDP005'     , 'GOCART'      ,
                               'DUWT001'     , 'GOCART'      ,
                               'DUWT002'     , 'GOCART'      ,
                               'DUWT003'     , 'GOCART'      ,
                               'DUWT004'     , 'GOCART'      ,
                               'DUWT005'     , 'GOCART'      ,
                               'DUSMASS'     , 'GOCART'      ,
                               'DUCMASS'     , 'GOCART'      ,
                               'DUEXTTAU'    , 'GOCART'      ,
                               'DUSCATAU'    , 'GOCART'      ,
                               'DUSMASS25'   , 'GOCART'      ,
                               'DUCMASS25'   , 'GOCART'      ,
                               'DUEXTT25'    , 'GOCART'      ,
                               'DUSCAT25'    , 'GOCART'      ,
                               'DUAERIDX'    , 'GOCART'      ,
                               'SSEM001'     , 'GOCART'      ,
                               'SSEM002'     , 'GOCART'      ,
                               'SSEM003'     , 'GOCART'      ,
                               'SSEM004'     , 'GOCART'      ,
                               'SSEM005'     , 'GOCART'      ,
                               'SSSD001'     , 'GOCART'      ,
                               'SSSD002'     , 'GOCART'      ,
                               'SSSD003'     , 'GOCART'      ,
                               'SSSD004'     , 'GOCART'      ,
                               'SSSD005'     , 'GOCART'      ,
                               'SSDP001'     , 'GOCART'      ,
                               'SSDP002'     , 'GOCART'      ,
                               'SSDP003'     , 'GOCART'      ,
                               'SSDP004'     , 'GOCART'      ,
                               'SSDP005'     , 'GOCART'      ,
                               'SSWT001'     , 'GOCART'      ,
                               'SSWT002'     , 'GOCART'      ,
                               'SSWT003'     , 'GOCART'      ,
                               'SSWT004'     , 'GOCART'      ,
                               'SSWT005'     , 'GOCART'      ,
                               'SSSMASS'     , 'GOCART'      ,
                               'SSCMASS'     , 'GOCART'      ,
                               'SSEXTTAU'    , 'GOCART'      ,
                               'SSSCATAU'    , 'GOCART'      ,
                               'SSSMASS25'   , 'GOCART'      ,
                               'SSCMASS25'   , 'GOCART'      ,
                               'SSEXTT25'    , 'GOCART'      ,
                               'SSSCAT25'    , 'GOCART'      ,
                               'SSAERIDX'    , 'GOCART'      ,
                               'SUEM001'     , 'GOCART'      ,
                               'SUEM002'     , 'GOCART'      ,
                               'SUEM003'     , 'GOCART'      ,
                               'SUEM004'     , 'GOCART'      ,
                               'SUDP001'     , 'GOCART'      ,
                               'SUDP002'     , 'GOCART'      ,
                               'SUDP003'     , 'GOCART'      ,
                               'SUDP004'     , 'GOCART'      ,
                               'SUWT001'     , 'GOCART'      ,
                               'SUWT002'     , 'GOCART'      ,
                               'SUWT003'     , 'GOCART'      ,
                               'SUWT004'     , 'GOCART'      ,
                               'SO2SMASS'    , 'GOCART'      ,
                               'SO2CMASS'    , 'GOCART'      ,
                               'SO4SMASS'    , 'GOCART'      ,
                               'SO4CMASS'    , 'GOCART'      ,
                               'DMSSMASS'    , 'GOCART'      ,
                               'DMSCMASS'    , 'GOCART'      ,
                               'SUPSO2'      , 'GOCART'      ,
                               'SUPSO4g'     , 'GOCART'      ,
                               'SUPSO4aq'    , 'GOCART'      ,
                               'SUPSO4wt'    , 'GOCART'      ,
                               'SUPMSA'      , 'GOCART'      ,
                               'SUEXTTAU'    , 'GOCART'      ,
                               'SUSCATAU'    , 'GOCART'      ,
                               'BCEM001'     , 'GOCART'      ,
                               'BCEM002'     , 'GOCART'      ,
                               'BCDP001'     , 'GOCART'      ,
                               'BCDP002'     , 'GOCART'      ,
                               'BCWT001'     , 'GOCART'      ,
                               'BCWT002'     , 'GOCART'      ,
                               'BCSMASS'     , 'GOCART'      ,
                               'BCCMASS'     , 'GOCART'      ,
                               'BCEXTTAU'    , 'GOCART'      ,
                               'BCSCATAU'    , 'GOCART'      ,
                               'OCEM001'     , 'GOCART'      ,
                               'OCEM002'     , 'GOCART'      ,
                               'OCDP001'     , 'GOCART'      ,
                               'OCDP002'     , 'GOCART'      ,
                               'OCWT001'     , 'GOCART'      ,
                               'OCWT002'     , 'GOCART'      ,
                               'OCSMASS'     , 'GOCART'      ,
                               'OCCMASS'     , 'GOCART'      ,
                               'OCEXTTAU'    , 'GOCART'      ,
                               'OCSCATAU'    , 'GOCART'      ,
                      'OCEM001bbbo'     , 'GOCART'      ,
                      'OCEM002bbbo'     , 'GOCART'      ,
                      'OCDP001bbbo'     , 'GOCART'      ,
                      'OCDP002bbbo'     , 'GOCART'      ,
                      'OCWT001bbbo'     , 'GOCART'      ,
                      'OCWT002bbbo'     , 'GOCART'      ,
                      'OCHYPHILbbbo'     , 'GOCART'      ,
                      'OCEMANbbbo'     , 'GOCART'      ,
                      'OCEMBBbbbo'     , 'GOCART'      ,
                      'OCEMBFbbbo'     , 'GOCART'      ,
                      'OCEMBGbbbo'     , 'GOCART'      ,
                      'OCSMASSbbbo'     , 'GOCART'      ,
                      'OCCMASSbbbo'     , 'GOCART'      ,
                      'OCEXTTAUbbbo'     , 'GOCART'      ,
                      'OCSCATAUbbbo'     , 'GOCART'      ,
                      'OCEM001bbnb'     , 'GOCART'      ,
                      'OCEM002bbnb'     , 'GOCART'      ,
                      'OCDP001bbnb'     , 'GOCART'      ,
                      'OCDP002bbnb'     , 'GOCART'      ,
                      'OCWT001bbnb'     , 'GOCART'      ,
                      'OCWT002bbnb'     , 'GOCART'      ,
                      'OCHYPHILbbnb'     , 'GOCART'      ,
                      'OCEMANbbnb'     , 'GOCART'      ,
                      'OCEMBBbbnb'     , 'GOCART'      ,
                      'OCEMBFbbnb'     , 'GOCART'      ,
                      'OCEMBGbbnb'     , 'GOCART'      ,
                      'OCSMASSbbnb'     , 'GOCART'      ,
                      'OCCMASSbbnb'     , 'GOCART'      ,
                      'OCEXTTAUbbnb'     , 'GOCART'      ,
                      'OCSCATAUbbnb'     , 'GOCART'      ,
                               ::
 
 
 tavg3d_aer_p_unz.format:     'CFIO' ,
 tavg3d_aer_p_unz.template:   '%y4%m2%d2_%h2%n2z.nc4',
 tavg3d_aer_p_unz.frequency:  030000 ,
 tavg3d_aer_p_unz.duration:   030000 ,
 tavg3d_aer_p_unz.end_date:   >>>IOEDATE<<< ,
 tavg3d_aer_p_unz.end_time:   >>>IOETIME<<< ,
 tavg3d_aer_p_unz.mode:       'time-averaged',
 tavg3d_aer_p_unz.vscale:     100.0,
 tavg3d_aer_p_unz.vunit:      'hPa',
 tavg3d_aer_p_unz.vvars:      'log(PLE)' , 'DYN'          ,
 tavg3d_aer_p_unz.levels:     1000 975 950 925 900 850 800 750 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 30 20 10,
 tavg3d_aer_p_unz.fields:     'PS'          , 'DYN'        , 'PS'        ,
                              'LWI'         , 'SURFACE'    , 'LWI'       ,
                              'AIRDENS'     , 'CHEMENV'    , 
                              'DUMASS'      , 'GOCART'     , 'DU'        ,
                              'SSMASS'      , 'GOCART'     , 'SS'        ,
                              'BCMASS'      , 'GOCART'     , 'BC'        ,
                              'OCMASS'      , 'GOCART'     , 'OC'        ,
                              'OCMASSbbbo'  , 'GOCART'     , 'OCbbbo'    ,
                              'OCMASSbbnb'  , 'GOCART'     , 'OCbbnb'    ,
                              'GOCART::SO2' , 'GOCART'     , 'SO2'       ,
                              'GOCART::SO4' , 'GOCART'     , 'SO4'       ,
                              ::

  inst2d_hwl_x_unz.format:     'CFIO',
  inst2d_hwl_x_unz.template:   '%y4%m2%d2_%h2%n2z.nc4',
  inst2d_hwl_x_unz.mode:       'instantaneous',
  inst2d_hwl_x_unz.ref_time:   000000,
  inst2d_hwl_x_unz.end_date:   >>>IOEDATE<<< ,
  inst2d_hwl_x_unz.end_time:   >>>IOETIME<<< ,
  inst2d_hwl_x_unz.frequency:  010000,
  inst2d_hwl_x_unz.duration:   010000,
  inst2d_hwl_x_unz.fields:     'SLP'          , 'DYN'         ,
                               'DUEXTTAU'     , 'GOCART'      ,
                               'SSEXTTAU'     , 'GOCART'      ,
                               'SUEXTTAU'     , 'GOCART'      ,
                               'BCEXTTAU'     , 'GOCART'      ,
                               'OCEXTTAU'     , 'GOCART'      ,
                               'OCEXTTAUbbbo' , 'GOCART'      ,
                               'OCEXTTAUbbnb' , 'GOCART'      ,
                               'CO2CL001'     , 'GOCART'      ,
                               'COCL'         , 'GOCART'      ,
                               'COCLbbbo'     , 'GOCART'      ,
                               'COCLbbnb'     , 'GOCART'      ,
                               'COCLffru'     , 'GOCART'      ,
                               'COCLffas'     , 'GOCART'      ,
                               'COCLffeu'     , 'GOCART'      ,
                               'COCLffna'     , 'GOCART'      ,
                               'TO3'          , 'CHEMISTRY'   , 'O3DU'        ,
                               'CFC12SCL'     , 'GOCART'      ,
                               'CFC12TCL'     , 'GOCART'      ,
                               ::

#######################################################################
#                            Trigger Files
#######################################################################

  prepqc_trigger.format:    'CFIO' ,
  prepqc_trigger.template:  '%y4%m2%d2_%h2%n200.nc4',
  prepqc_trigger.mode:      'instantaneous',
  prepqc_trigger.ref_date:  >>>IOBQCD<<< ,
  prepqc_trigger.ref_time:  >>>IOBQCT<<< ,
  prepqc_trigger.end_date:  >>>IOEQCD<<< ,
  prepqc_trigger.end_time:  >>>IOEQCT<<< ,
  prepqc_trigger.fields:    'TS'       , 'SURFACE'       , 'TSKIN'     ,
                             ::

#######################################################################
#                              FDDA Files 
#######################################################################

  traj.lcv.format:     'CFIO' ,
  traj.lcv.template:   '%y4%m2%d2_%h2%n2z.nc4',
  traj.lcv.frequency:  001500 ,
  traj.lcv.duration:   001500 ,
  traj.lcv.ref_date:  >>>IOEDATE<<< ,
  traj.lcv.ref_time:  >>>IOETIME<<< ,
  traj.lcv.end_date:  >>>IOEDATE<<< ,
  traj.lcv.end_time:  >>>IOETIME<<< ,
  traj.lcv.resolution: 90 540,
  traj.lcv.mode:       'instantaneous',
  traj.lcv.fields:     'U_DGRID;V_DGRID' , 'DYN'   , 'U;V'      ,
                       'TH'         , 'DYN'        , 'PT'       ,
                       'Q'          , 'MOIST'      , 'QV'       ,
                       'DELP'       , 'DYN'        , 'DP'       ,
                       'QITOT'      , 'AGCM'       , 'QI'       ,
                       'QLTOT'      , 'AGCM'       , 'QL'       ,
                       'O3PPMV'     , 'CHEMISTRY'  , 'O3'       ,
                       'QCLSX0'     , 'MOIST'      , 'QLS'      ,
                       'QCCNX0'     , 'MOIST'      , 'QCN'      ,
                       'CLCNX0'     , 'MOIST'      , 'CFCN'     ,
                       'PS'         , 'DYN'        , 'PS'       , 
                       'PHIS'       , 'AGCM'       , 'PHIS'     ,
                       'SGH'        , 'AGCM'       , 'HS_STDV'  ,
                       'FRLAND'     , 'SURFACE'    , 'FRLAND'   , 
                       'FROCEAN'    , 'SURFACE'    , 'FROCEAN'  ,
                       'KCBL_moist' , 'MOIST'      , 'KCBL'     ,
                       'TS_moist'   , 'MOIST'      , 'TS'       ,
                       'KHl_moist'  , 'MOIST'      , 'KHL'      ,
                       'KHu_moist'  , 'MOIST'      , 'KHU'      ,
                       'VARFLT'     , 'AGCM'       , 'VARFLT'   ,
                       'USTAR'      , 'SURFACE'    , 'USTAR'    ,
                       'BSTAR'      , 'SURFACE'    , 'BSTAR'    ,
                       'ZPBL'       , 'TURBULENCE' , 'ZPBL'     ,
                       'CM'         , 'SURFACE'    , 'CM'       ,
                       'CT'         , 'SURFACE'    , 'CT'       ,
                       'CQ'         , 'SURFACE'    , 'CQ'       ,
# Needed for radiation
#                       'MCOSZ'      , 'SOLAR'      , 'COSZ'     ,
#                       'SLRTP'      , 'SOLAR'      , 'SLR'      ,
#                       'ALBVR'      , 'SURFACE'    , 'RGBUV'    ,
#                       'ALBVF'      , 'SURFACE'    , 'RGFUV'    ,
#                       'ALBNR'      , 'SURFACE'    , 'RGBIR'    ,
#                       'ALBNF'      , 'SURFACE'    , 'RGFIR'    ,
#                       'EMIS'       , 'SURFACE'    , 'EMIS'     ,
#                       'DE_tlad'    , 'IRRAD'      , 'DELTIRD'  ,
                       ::


#######################################################################
#                             Asens Files 
#######################################################################

  traj_lcv_rst.format:     'CFIO' ,
  traj_lcv_rst.template:   '%y4%m2%d2_%h2%n2z.nc4',
  traj_lcv_rst.ref_date:  >>>FCSDATE<<< ,
  traj_lcv_rst.ref_time:  >>>FCSTIME<<< ,
  traj_lcv_rst.end_date:  >>>FCSDATE<<< ,
  traj_lcv_rst.end_time:  >>>FCSTIME<<< ,
  traj_lcv_rst.resolution: 90 540,
  traj_lcv_rst.mode:       'instantaneous',
  traj.lcv.fields:         'U_DGRID;V_DGRID' , 'DYN'   , 'U;V'      ,
                           'TH'         , 'DYN'        , 'PT'       ,
                           'Q'          , 'MOIST'      , 'QV'       ,
                           'DELP'       , 'DYN'        , 'DP'       ,
                           'QITOT'      , 'AGCM'       , 'QI'       ,
                           'QLTOT'      , 'AGCM'       , 'QL'       ,
                           'O3PPMV'     , 'CHEMISTRY'  , 'O3'       ,
                           'QCLSX0'     , 'MOIST'      , 'QLS'      ,
                           'QCCNX0'     , 'MOIST'      , 'QCN'      ,
                           'CLCNX0'     , 'MOIST'      , 'CFCN'     ,
                           'PS'         , 'DYN'        , 'PS'       , 
                           'PHIS'       , 'AGCM'       , 'PHIS'     ,
                           'SGH'        , 'AGCM'       , 'HS_STDV'  ,
                           'FRLAND'     , 'SURFACE'    , 'FRLAND'   , 
                           'FROCEAN'    , 'SURFACE'    , 'FROCEAN'  ,
                           'KCBL_moist' , 'MOIST'      , 'KCBL'     ,
                           'TS_moist'   , 'MOIST'      , 'TS'       ,
                           'KHl_moist'  , 'MOIST'      , 'KHL'      ,
                           'KHu_moist'  , 'MOIST'      , 'KHU'      ,
                           'VARFLT'     , 'AGCM'       , 'VARFLT'   ,
                           'USTAR'      , 'SURFACE'    , 'USTAR'    ,
                           'BSTAR'      , 'SURFACE'    , 'BSTAR'    ,
                           'ZPBL'       , 'TURBULENCE' , 'ZPBL'     ,
                           'CM'         , 'SURFACE'    , 'CM'       ,
                           'CT'         , 'SURFACE'    , 'CT'       ,
                           'CQ'         , 'SURFACE'    , 'CQ'       ,
# Needed for radiation
#                           'MCOSZ'      , 'SOLAR'      , 'COSZ'     ,
#                           'SLRTP'      , 'SOLAR'      , 'SLR'      ,
#                           'ALBVR'      , 'SURFACE'    , 'RGBUV'    ,
#                           'ALBVF'      , 'SURFACE'    , 'RGFUV'    ,
#                           'ALBNR'      , 'SURFACE'    , 'RGBIR'    ,
#                           'ALBNF'      , 'SURFACE'    , 'RGFIR'    ,
#                           'EMIS'       , 'SURFACE'    , 'EMIS'     ,
#                           'DE_tlad'    , 'IRRAD'      , 'DELTIRD'  ,
                           ::

