 &NAMSTAT
   jcap=>>>JCAP<<<,lgaus=.false.,lsmver=.true.,nsig=>>>NSIG<<<,nlat=>>>NLAT<<<,nlon=>>>NLON<<<,
   nlatfv=>>>NLATFV<<<,nlonfv=>>>NLONFV<<<,maxcases=500,hybrid=.true.,smoothdeg=0.5,
!  note: biasrm=.false. means do bias correction - go figure!
   fnm0= 25,vectype=5,biasrm=.false.,laddoz=.false.,
   hydromet=.true.,
! The following recovers MERRA version of vertical smoothing
!  smooth_vert_variances=.true.,
! The following belongs to MERRA-2 version of this software
!  LBAL=.true.,
 /
 &SMOOTHVARS
 /

