
MAPLROOT_COMPNAME: GCS
        ROOT_NAME: GCS
ROOT_CF: AGCM.rc
HIST_CF: HISTORY.rc

BEG_DATE:     17760704 210000
END_DATE:     21130921 030000
JOB_SGMT:     0 120000
NUM_SGMT:     9999
HEARTBEAT_DT:     450

USE_SHMEM: 0

#CoresPerNode: 8

MAPL_ENABLE_TIMERS: NO
MAPL_ENABLE_MEMUTILS: NO
PRINTSPEC: 0  # (0: OFF, 1: IMPORT & EXPORT, 2: IMPORT, 3: EXPORT)

USE_EXTDATA2G: .TRUE.
