/archive/u/USER/EXPCTL/ana/Y%y4/M%m2/EXPCTL.ana.eta.%y4%m2%d2_%h2z.nc4     => EXPNEW.ana.eta.%y4%m2%d2_%h2z.nc4
/archive/u/USER/EXPCTL/ana/Y%y4/M%m2/EXPCTL.ana.satbang.%y4%m2%d2_%h2z.txt => EXPNEW.ana.satbang.%y4%m2%d2_%h2z.txt
/archive/u/USER/EXPCTL/ana/Y%y4/M%m2/EXPCTL.ana.satbias.%y4%m2%d2_%h2z.txt => EXPNEW.ana.satbias.%y4%m2%d2_%h2z.txt
