#
# Sample resource file exemplifying the specification of an interface to
# boundary conditions, emissions and other external files. This resource
# file is meant to be read by the MAPL_ExtData Grid Component.
#


PrimaryExports::
# ---------|--------------|-----|-----|------|----------------------|--------|-------|---------------------------------   
#  Export  |              |     | V   |      |_______ Refresh ______|____ Factors ___|________ External File __________
#  Name    |    Units     | Dim | Loc | Clim |     Time Template    | Offset | Scale | Variable |      Template
# ---------|--------------|-----|-----|------|----------------------|--------|-------|----------|----------------------   
::


Masks::
# ---------|------------------------------------------------------|
#  Name    |                  Template File Name                  |
# ---------|------------------------------------------------------|
#          |                                                      |
# ---------|------------------------------------------------------|
::


DerivedExports::
# ---------|---------|--------------------------------------------|
#  Export  | Primary |_________________ Mask _____________________|
#  Name    |  Name   |    Name    |           Expression          |    
# ---------|---------|------------|-------------------------------|
# ---------|---------|------------|-------------------------------|
::

