#######################################################################
#                 Create History List for Output
#######################################################################
 
EXPID:  >>>EXPID<<<
EXPDSC: ensemble_bkg
Allow_Overwrite: .true.
 
COLLECTIONS: 'prog.eta'
# WxMaps and Meteograms
#            'inst3_3d_wxmc_Cp'
#            'inst3_3d_wxme_Np'
#            'tavg3_2d_wxme_Nx'
# Vortex track/relocator
#            'vtx.mix'
             ::

# Forecasting output ...
# ----------------------

  prog.eta.format:     'CFIO' ,
  prog.eta.deflate:    2      ,
  prog.eta.regrid_method:  'BILINEAR_MONOTONIC' ,
  prog.eta.template:   '%y4%m2%d2_%h2%n2z.>>>MEMBER<<<.>>>NCSUFFIX<<<',
  prog.eta.frequency: 060000 ,
  prog.eta.duration:  060000 ,
  prog.eta.end_time:  000000 ,
  prog.eta.mode:       'instantaneous',
  prog.eta.resolution:  >>>HIST_IM<<< >>>HIST_JM<<<,
  prog.eta.fields:    'PHIS'     , 'AGCM'          , 'phis'         ,
                      'SGH'      , 'AGCM'          , 'hs_stdv'      ,
                      'PS'       , 'DYN'           , 'ps'           ,
                      'TS'       , 'SURFACE'       , 'ts'           ,
                      'FRLAND'   , 'SURFACE'       , 'frland'       ,
                      'FRLANDICE', 'SURFACE'       , 'frlandice'    ,
                      'FRLAKE'   , 'SURFACE'       , 'frlake'       ,
                      'FROCEAN'  , 'SURFACE'       , 'frocean'      ,
                      'FRACI'    , 'SURFACE'       , 'frseaice'     ,
                      'DELP'     , 'DYN'           , 'delp'         ,
                      'U;V'      , 'DYN'           , 'u;v'          ,
                      'TV'       , 'DYN'           , 'tv'           ,
                      'Q'        , 'MOIST'         , 'sphu'         ,
                      'QITOT'    , 'AGCM'          , 'qitot'        ,
                      'QLTOT'    , 'AGCM'          , 'qltot'        ,
                      'QRTOT'    , 'MOIST'         , 'qrtot'      ,
                      'QSTOT'    , 'MOIST'         , 'qstot'      ,
                      'O3PPMV'   , 'CHEMISTRY'     , 'ozone'        ,
                      ::

# General diagnostics ...
# -----------------------

  inst1_2d_asm_Nx.format:      'CFIO' ,
  inst1_2d_asm_Nx.descr:       '2d,1-Hourly,Instantaneous,Single-Level,Assimilation,Single-Level Diagnostics' ,
  inst1_2d_asm_Nx.nbits:       10 ,
  inst1_2d_asm_Nx.deflate:    2      ,
  inst1_2d_asm_Nx.regrid_method:  'BILINEAR_MONOTONIC' ,
  inst1_2d_asm_Nx.template:    '%y4%m2%d2_%h2%n2z.>>>MEMBER<<<.>>>NCSUFFIX<<<' ,
  inst1_2d_asm_Nx.mode:        'instantaneous' ,
  inst1_2d_asm_Nx.resolution:  >>>HIST_IM<<< >>>HIST_JM<<<,
  inst1_2d_asm_Nx.frequency:   030000 ,
  inst1_2d_asm_Nx.duration:    030000 ,
  inst1_2d_asm_Nx.end_date:    >>>IOEDATE<<< ,
  inst1_2d_asm_Nx.end_time:    >>>IOETIME<<< ,
  inst1_2d_asm_Nx.fields:      'SLP'            , 'DYN'      ,
                               'PS'             , 'DYN'      ,
                               'U10M;V10M'      , 'SURFACE'  ,
                               'U2M;V2M'        , 'SURFACE'  ,
                               'U50M;V50M'      , 'DYN'      ,
                               'T10M'           , 'SURFACE'  ,
                               'T2M'            , 'SURFACE'  ,
                               'Q10M'           , 'SURFACE'  , 'QV10M'     ,
                               'Q2M'            , 'SURFACE'  , 'QV2M'      ,
                               'TS'             , 'SURFACE'  ,
                               'D0'             , 'SURFACE'  , 'DISPH'     ,
                               'TROPP_EPV'      , 'AGCM'     , 'TROPPV'    ,
                               'TROPP_THERMAL'  , 'AGCM'     , 'TROPPT'    ,
                               'TROPP_BLENDED'  , 'AGCM'     , 'TROPPB'    ,
                               'TROPT'          , 'AGCM'     ,
                               'TROPQ'          , 'AGCM'     ,
                               'TQV'            , 'AGCM'     ,
                               'TQI'            , 'AGCM'     ,
                               'TQL'            , 'AGCM'     ,
                               'TOX'            , 'AGCM'     ,
                               'TO3'            , 'PCHEM'    ,
                               'T2M'            , 'SURFACE'  , 'T2MMAX'    , 'MAX'  ,
                               'T2M'            , 'SURFACE'  , 'T2MMIN'    , 'MIN'  ,
                               'HOURNORAIN'     , 'MOIST'    ,
                               'TPREC'          , 'MOIST'    , 'TPRECMAX'  , 'MAX'  ,
                               ::

  abkg.eta.format:      'CFIO' ,
  abkg.eta.deflate:    2      ,
  abkg.eta.regrid_method:  'BILINEAR_MONOTONIC' ,
  abkg.eta.descr:       '3d,3-Hourly,Instantaneous,Model-Level,Analysis,Aerosol Concentrations' ,
  abkg.eta.template:    '%y4%m2%d2_%h2z.>>>MEMBER<<<.>>>NCSUFFIX<<<' ,
  abkg.eta.ref_date:  >>>IOBBKGD<<< ,
  abkg.eta.ref_time:  >>>IOBBKGT<<< ,
  abkg.eta.end_date:  >>>IOEDATE<<< ,
  abkg.eta.end_time:  >>>IOETIME<<< ,
  abkg.eta.frequency: >>>BKGFREQ<<< ,
  abkg.eta.duration:  >>>BKGFREQ<<< ,
  abkg.eta.mode:       'instantaneous',
  abkg.eta.resolution:  >>>HIST_IM<<< >>>HIST_JM<<<,
  abkg.eta.fields:      'PS'                , 'DYN'      ,
                               'DELP'              , 'DYN'      ,
                               'LWI'               , 'SURFACE'  ,
                               'RH2'               , 'MOIST'    , 'RH'        ,
                               'AIRDENS'           , 'CHEMENV'  ,
# Dust
                               'GOCART::du001'     , 'GOCART'   , 'DU001'     ,
                               'GOCART::du002'     , 'GOCART'   , 'DU002'     ,
                               'GOCART::du003'     , 'GOCART'   , 'DU003'     ,
                               'GOCART::du004'     , 'GOCART'   , 'DU004'     ,
                               'GOCART::du005'     , 'GOCART'   , 'DU005'     ,
# Sea-salt
                               'GOCART::ss001'     , 'GOCART'   , 'SS001'     ,
                               'GOCART::ss002'     , 'GOCART'   , 'SS002'     ,
                               'GOCART::ss003'     , 'GOCART'   , 'SS003'     ,
                               'GOCART::ss004'     , 'GOCART'   , 'SS004'     ,
                               'GOCART::ss005'     , 'GOCART'   , 'SS005'     ,
# Sulfates
                               'GOCART::DMS'       , 'GOCART'   , 'DMS'       ,
                               'GOCART::SO2'       , 'GOCART'   , 'SO2'       ,
                               'GOCART::SO4'       , 'GOCART'   , 'SO4'       ,
                               'GOCART::MSA'       , 'GOCART'   , 'MSA'       ,
# Carbonaceous (main)
                               'GOCART::BCphobic'  , 'GOCART'   , 'BCPHOBIC'  ,
                               'GOCART::BCphilic'  , 'GOCART'   , 'BCPHILIC'  ,
                               'GOCART::OCphobic'  , 'GOCART'   , 'OCPHOBIC'  ,
                               'GOCART::OCphilic'  , 'GOCART'   , 'OCPHILIC'  ,
# Nitrate
                               'GOCART::NH3'       , 'GOCART'   , 'NH3'       ,
                               'GOCART::NH4a'      , 'GOCART'   , 'NH4A'      ,
                               'GOCART::NO3an1'    , 'GOCART'   , 'NO3AN1'    ,
                               'GOCART::NO3an2'    , 'GOCART'   , 'NO3AN2'    ,
                               'GOCART::NO3an3'    , 'GOCART'   , 'NO3AN3'    ,
                               ::


  tavg1_2d_slv_Nx.format:      'CFIO' ,
  tavg1_2d_slv_Nx.descr:       '2d,3-Hourly,Time-Averaged,Single-Level,Assimilation,Single-Level Diagnostics' ,
  tavg1_2d_slv_Nx.nbits:       10 ,
  tavg1_2d_slv_Nx.deflate:    2      ,
  tavg1_2d_slv_Nx.regrid_method:  'BILINEAR_MONOTONIC' ,
  tavg1_2d_slv_Nx.template:    '%y4%m2%d2_%h2%n2z.>>>MEMBER<<<.>>>NCSUFFIX<<<' ,
  tavg1_2d_slv_Nx.mode:        'time-averaged' ,
  tavg1_2d_slv_Nx.resolution:  >>>HIST_IM<<< >>>HIST_JM<<<,
  tavg1_2d_slv_Nx.frequency:   030000 ,
  tavg1_2d_slv_Nx.duration:    030000 ,
  tavg1_2d_slv_Nx.end_date:    >>>IOEDATE<<< ,
  tavg1_2d_slv_Nx.end_time:    >>>IOETIME<<< ,
  tavg1_2d_slv_Nx.fields:      'SLP'            , 'DYN'      ,
                               'PS'             , 'DYN'      ,
                               'U850;V850'      , 'DYN'      ,
                               'U500;V500'      , 'DYN'      ,
                               'U250;V250'      , 'DYN'      ,
                               'T850'           , 'DYN'      ,
                               'T500'           , 'DYN'      ,
                               'T250'           , 'DYN'      ,
                               'Q850'           , 'DYN'      ,
                               'Q500'           , 'DYN'      ,
                               'Q250'           , 'DYN'      ,
                               'H1000'          , 'DYN'      ,
                               'H850'           , 'DYN'      ,
                               'H500'           , 'DYN'      ,
                               'H250'           , 'DYN'      ,
                               'OMEGA500'       , 'DYN'      ,
                               'U10M;V10M'      , 'SURFACE'  ,
                               'U2M;V2M'        , 'SURFACE'  ,
                               'U50M;V50M'      , 'DYN'      ,
                               'T10M'           , 'SURFACE'  ,
                               'T2M'            , 'SURFACE'  ,
                               'Q10M'           , 'SURFACE'  , 'QV10M'   ,
                               'Q2M'            , 'SURFACE'  , 'QV2M'    ,
                               'TS'             , 'SURFACE'  ,
                               'D0'             , 'SURFACE'  , 'DISPH'   ,
                               'TROPP_EPV'      , 'AGCM'     , 'TROPPV'  ,
                               'TROPP_THERMAL'  , 'AGCM'     , 'TROPPT'  ,
                               'TROPP_BLENDED'  , 'AGCM'     , 'TROPPB'  ,
                               'TROPT'          , 'AGCM'     ,
                               'TROPQ'          , 'AGCM'     ,
                               'CLDPRS'         , 'SOLAR'    ,
                               'CLDTMP'         , 'SOLAR'    ,
                               'TQV'            , 'AGCM'     ,
                               'TQI'            , 'AGCM'     ,
                               'TQL'            , 'AGCM'     ,
                               'TOX'            , 'AGCM'     ,
                               ::


# WxMap-like, but output at central of IAU period ("analysis") 

  inst3_3d_wxmc_Cp.format:   'CFIO' ,
  inst3_3d_wxmc_Cp.nbits:      10,
  inst3_3d_wxmc_Cp.deflate:    2      ,
  inst3_3d_wxmc_Cp.regrid_method:  'BILINEAR_MONOTONIC' ,
  inst3_3d_wxmc_Cp.template: '%y4%m2%d2_%h2%n2z.>>>MEMBER<<<.>>>NCSUFFIX<<<',
  inst3_3d_wxmc_Cp.mode:     'instantaneous',
  inst3_3d_wxmc_Cp.resolution:  288 181,
  inst3_3d_wxmc_Cp.frequency:   060000 ,
  inst3_3d_wxmc_Cp.duration:    060000 ,
  inst3_3d_wxmc_Cp.end_date:    >>>IOEDATE<<< ,
  inst3_3d_wxmc_Cp.end_time:    >>>IOETIME<<< ,
  inst3_3d_wxmc_Cp.vscale:    100.0,
  inst3_3d_wxmc_Cp.vunit:     'hPa',
  inst3_3d_wxmc_Cp.vvars:     'log(PLE)' , 'DYN'          ,
  inst3_3d_wxmc_Cp.levels:    925 850 700 600 500 400 300 200 150 100 70 50,
  inst3_3d_wxmc_Cp.fields:   'SLP'      , 'DYN'           ,
                               'T'        , 'DYN'           ,
                               'H500'     , 'DYN'           ,
                               'H1000'    , 'DYN'           ,
                               'OMEGA'    , 'DYN'           ,
                              ::

  inst3_3d_wxme_Np.format:      'CFIO' ,
  inst3_3d_wxme_Np.nbits:       10 ,
  inst3_3d_wxme_Np.deflate:    2      ,
  inst3_3d_wxme_Np.regrid_method:  'BILINEAR_MONOTONIC' ,
  inst3_3d_wxme_Np.template:    '%y4%m2%d2_%h2%n2z.>>>MEMBER<<<.>>>NCSUFFIX<<<' ,
  inst3_3d_wxme_Np.mode:        'instantaneous' ,
  inst3_3d_wxme_Np.resolution:   >>>HIST_IM<<< >>>HIST_JM<<<,
  inst3_3d_wxme_Np.frequency:    060000 ,
  inst3_3d_wxme_Np.duration:     060000 ,
  inst3_3d_wxme_Np.end_date:     >>>IOEDATE<<< ,
  inst3_3d_wxme_Np.end_time:     >>>IOETIME<<< ,
  inst3_3d_wxme_Np.vscale:      100.0 ,
  inst3_3d_wxme_Np.vunit:       'hPa' ,
  inst3_3d_wxme_Np.vvars:       'log(PLE)' , 'DYN' ,
  inst3_3d_wxme_Np.levels:      850 700 600 500 400 300 200 ,
  inst3_3d_wxme_Np.fields:      'RH2'       , 'MOIST'   , 'RH'       ,
                                'TPREC'     , 'MOIST'   , 'PRECTOT'  ,
                                'T'         , 'DYN'     ,
                                'U;V'       , 'DYN'     ,
                                'OMEGA'     , 'DYN'     ,
                                'EPV'       , 'DYN'     ,
                                'TAUHI'     , 'SOLAR'   , 'TAUHGH'   ,
                                'TAULO'     , 'SOLAR'   , 'TAULOW'   ,
                                'TAUMD'     , 'SOLAR'   , 'TAUMID'   ,
                                'CLDHI'     , 'SOLAR'   , 'CLDHGH'   ,
                                'CLDLO'     , 'SOLAR'   , 'CLDLOW'   ,
                                'CLDMD'     , 'SOLAR'   , 'CLDMID'   ,
                                'FCLD'      , 'MOIST'   , 'CLOUD'    ,
                                'SLP'       , 'DYN'     ,
                                'DUEXTTAU'  , 'GOCART'  ,
                                'SUEXTTAU'  , 'GOCART'  ,
                                'OCEXTTAU'  , 'GOCART'  ,
                                'BCEXTTAU'  , 'GOCART'  ,
                                'DUMASS'    , 'GOCART'  , 'DU'       ,
                                ::

  tavg3_2d_wxme_Nx.format:   'CFIO' ,
  tavg3_2d_wxme_Nx.nbits:      10,
  tavg3_2d_wxme_Nx.deflate:    2      ,
  tavg3_2d_wxme_Nx.regrid_method:  'BILINEAR_MONOTONIC' ,
  tavg3_2d_wxme_Nx.template: '%y4%m2%d2_%h2%n2z.>>>MEMBER<<<.>>>NCSUFFIX<<<',
  tavg3_2d_wxme_Nx.mode:     'time-averaged',
  tavg3_2d_wxme_Nx.resolution: >>>HIST_IM<<< >>>HIST_JM<<<,
  tavg3_2d_wxme_Nx.frequency: 030000 ,
  tavg3_2d_wxme_Nx.duration:  030000 ,
  tavg3_2d_wxme_Nx.end_date:  >>>IOEDATE<<< ,
  tavg3_2d_wxme_Nx.end_time:  >>>IOETIME<<< ,
  tavg3_2d_wxme_Nx.fields:   'TPREC'     , 'MOIST'      ,  'PRECTOT'  ,
                              ::


  inst1_2d_ocn_Nx.format:      'CFIO' ,
  inst1_2d_ocn_Nx.descr:       '2d,1-Hourly,Time-Averaged,Single-Level,Assimilation,Ocean Surface' ,
  inst1_2d_ocn_Nx.nbits:       10 ,
  inst1_2d_ocn_Nx.deflate:    2      ,
  inst1_2d_ocn_Nx.regrid_method:  'BILINEAR_MONOTONIC' ,
  inst1_2d_ocn_Nx.template:    '%y4%m2%d2_%h2%n2z.>>>MEMBER<<<.>>>NCSUFFIX<<<' ,
  inst1_2d_ocn_Nx.mode:        'instantaneous',
  inst1_2d_ocn_Nx.resolution: >>>HIST_IM<<< >>>HIST_JM<<<,
  inst1_2d_ocn_Nx.frequency:   010000 ,
  inst1_2d_ocn_Nx.duration:    010000 ,
  inst1_2d_ocn_Nx.end_date:    >>>IOEDATE<<< ,
  inst1_2d_ocn_Nx.end_time:    >>>IOETIME<<< ,
  inst1_2d_ocn_Nx.fields:      'U10M;V10M'  , 'SURFACE'  ,
                               'T10M'       , 'SURFACE'  ,
                               'Q10M'       , 'SURFACE'  , 'QV10M'       ,
#                              'SHWTR'      , 'SURFACE'  , 'HFLUXWTR'    ,
#                              'SHICE'      , 'SURFACE'  , 'HFLUXICE'    ,
#                              'HLATWTR'    , 'SURFACE'  , 'EFLUXWTR'    ,
#                              'HLATICE'    , 'SURFACE'  , 'EFLUXICE'    ,
#                              'LWNDWTR'    , 'SURFACE'  , 'LWGNTWTR'    ,
#                              'LWNDICE'    , 'SURFACE'  , 'LWGNTICE'    ,
#                              'SWNDWTR'    , 'SURFACE'  , 'SWGNTWTR'    ,
#                              'SWNDICE'    , 'SURFACE'  , 'SWGNTICE'    ,
#                              'SNOWOCN'    , 'SURFACE'  , 'PRECSNOOCN'  ,
#                              'RAINOCN'    , 'SURFACE'  ,
#                              'TAUXW'      , 'SURFACE'  , 'TAUXWTR'     ,
#                              'TAUYW'      , 'SURFACE'  , 'TAUYWTR'     ,
#                              'TAUXI'      , 'SURFACE'  , 'TAUXICE'     ,
#                              'TAUYI'      , 'SURFACE'  , 'TAUYICE'     ,
                               'FRACI'      , 'SURFACE'  , 'FRSEAICE'    ,
#                              'TSKINW'     , 'SURFACE'  , 'TSKINWTR'    ,
#                              'TSKINI'     , 'SURFACE'  , 'TSKINICE'    ,
# additonal exports for skin SST
#                              'EVAPOUT'    , 'SURFACE'  ,
                               'FRLAND'     , 'SURFACE'  ,
                               'FRLANDICE'  , 'SURFACE'  ,
                               'FRLAKE'     , 'SURFACE'  ,
                               'FROCEAN'    , 'SURFACE'  ,
                               'COSZ'       , 'SOLAR'    ,
                               'DCOOL'      , 'SURFACE'  ,
                               'DWARM'      , 'SURFACE'  ,
                               'TDROP'      , 'SURFACE'  ,
                               'TS_FOUND'   , 'SURFACE'  ,
                               'TDEL'       , 'SURFACE'  ,
#                              'BCOOL'      , 'SURFACE'  ,
                               'LCOOL'      , 'SURFACE'  ,
#                              'TBAR'       , 'SURFACE'  ,
                               'USTARW'     , 'SURFACE'  ,
                               'SWCOOL'     , 'SURFACE'  ,
                               'QCOOL'      , 'SURFACE'  ,
#                              'DELTS'      , 'SURFACE'  ,
                               'QWARM'      , 'SURFACE'  ,
#                              'SWWARM'     , 'SURFACE'  ,
                               'LANGM'      , 'SURFACE'  ,
                               'PHIW'       , 'SURFACE'  ,
                               'TAUTW'      , 'SURFACE'  ,
#                              'ZETA_W'     , 'SURFACE'  ,
                               'DTSDT_ANA'  , 'AGCM'     ,
                               ::


  tavg1_2d_lfo_Nx.format:      'CFIO' ,
  tavg1_2d_lfo_Nx.descr:       '2d,1-Hourly,Time-Averaged,Single-Level,Assimilation,Forecast Land Surface Forcings' ,
  tavg1_2d_lfo_Nx.nbits:       10 ,
  tavg1_2d_lfo_Nx.deflate:    2      ,
  tavg1_2d_lfo_Nx.regrid_method:  'BILINEAR_MONOTONIC' ,
  tavg1_2d_lfo_Nx.template:    '%y4%m2%d2_%h2%n2z.>>>MEMBER<<<.>>>NCSUFFIX<<<' ,
  tavg1_2d_lfo_Nx.mode:        'time-averaged' ,
  tavg1_2d_lfo_Nx.resolution:  >>>HIST_IM<<< >>>HIST_JM<<<,
  tavg1_2d_lfo_Nx.frequency:   010000 ,
  tavg1_2d_lfo_Nx.duration:    010000 ,
  tavg1_2d_lfo_Nx.end_date:    >>>IOEDATE<<< ,
  tavg1_2d_lfo_Nx.end_time:    >>>IOETIME<<< ,
  tavg1_2d_lfo_Nx.fields:      'SLRSF'   , 'SOLAR'    , 'SWGDN'    ,
                               'SWLAND'  , 'SURFACE'  ,
                               'LWS'     , 'IRRAD'    , 'LWGAB'    ,
                               'PCU'     , 'SURFACE'  , 'PRECCU'   ,
                               'PLS'     , 'SURFACE'  , 'PRECLS'   ,
                               'SNO'     , 'SURFACE'  , 'PRECSNO'  ,
                               'DFPAR'   , 'SOLAR'    , 'PARDF'    ,
                               'DRPAR'   , 'SOLAR'    , 'PARDR'    ,
                               ::
				 
  inst1_2d_lfo_Nx.format:      'CFIO' ,
  inst1_2d_lfo_Nx.descr:       '2d,1-Hourly,Instantaneous,Single-Level,Assimilation, Land Surface Forcings' ,
  inst1_2d_lfo_Nx.nbits:       10 ,
  inst1_2d_lfo_Nx.deflate:    2      ,
  inst1_2d_lfo_Nx.regrid_method:  'BILINEAR_MONOTONIC' ,
  inst1_2d_lfo_Nx.template:    '%y4%m2%d2_%h2%n2z.>>>MEMBER<<<.>>>NCSUFFIX<<<' ,
  inst1_2d_lfo_Nx.mode:        'instantaneous' ,
  inst1_2d_lfo_Nx.resolution:  >>>HIST_IM<<< >>>HIST_JM<<<,
  inst1_2d_lfo_Nx.frequency:   010000 ,
  inst1_2d_lfo_Nx.duration:    010000 ,
  inst1_2d_lfo_Nx.end_date:    >>>IOEDATE<<< ,
  inst1_2d_lfo_Nx.end_time:    >>>IOETIME<<< ,
  inst1_2d_lfo_Nx.fields:      'DZ'     , 'DYN'  , 'HLML'      ,
                               'TA'     , 'DYN'  , 'TLML'      ,
                               'QA'     , 'DYN'  , 'QLML'      ,
                               'SPEED'  , 'DYN'  , 'SPEEDLML'  ,
                               'PS'     , 'DYN'  ,
                                ::

  tavg1_2d_lnd_Nx.format:      'CFIO' ,
  tavg1_2d_lnd_Nx.descr:       '2d,1-Hourly,Time-Averaged,Single-Level,Assimilation, Land Surface Diagnostics' ,
  tavg1_2d_lnd_Nx.nbits:       10 ,
  tavg1_2d_lnd_Nx.deflate:    2      ,
  tavg1_2d_lnd_Nx.regrid_method:  'BILINEAR_MONOTONIC' ,
  tavg1_2d_lnd_Nx.template:    '%y4%m2%d2_%h2%n2z.>>>MEMBER<<<.>>>NCSUFFIX<<<' ,
  tavg1_2d_lnd_Nx.mode:        'time-averaged' ,
  tavg1_2d_lnd_Nx.resolution:  >>>HIST_IM<<< >>>HIST_JM<<<,
  tavg1_2d_lnd_Nx.frequency:   010000 ,
  tavg1_2d_lnd_Nx.duration:    010000 ,
  tavg1_2d_lnd_Nx.end_date:    >>>IOEDATE<<< ,
  tavg1_2d_lnd_Nx.end_time:    >>>IOETIME<<< ,
  tavg1_2d_lnd_Nx.fields:      'GRN'       , 'SURFACE'  ,
                               'LAI'       , 'SURFACE'  ,
                               'WET3'      , 'SURFACE'  , 'GWETPROF'  ,
                               'WET2'      , 'SURFACE'  , 'GWETROOT'  ,
                               'WET1'      , 'SURFACE'  , 'GWETTOP'   ,
                               'WCPR'      , 'SURFACE'  , 'PRMC'      ,
                               'WCRZ'      , 'SURFACE'  , 'RZMC'      ,
                               'WCSF'      , 'SURFACE'  , 'SFMC'      ,
                               'TPSNOW'    , 'SURFACE'  ,
                               'TPUNST'    , 'SURFACE'  , 'TUNST'     ,
                               'TPSAT'     , 'SURFACE'  , 'TSAT'      ,
                               'TPWLT'     , 'SURFACE'  , 'TWLT'      ,
                               'TPSURF'    , 'SURFACE'  , 'TSURF'     ,
                               'TSOIL1'    , 'SURFACE'  ,
                               'TSOIL2'    , 'SURFACE'  ,
                               'TSOIL3'    , 'SURFACE'  ,
                               'TSOIL4'    , 'SURFACE'  ,
                               'TSOIL5'    , 'SURFACE'  ,
                               'TSOIL6'    , 'SURFACE'  ,
                               'SNO'       , 'MOIST'    , 'PRECSNO'   ,
                               'TPREC'     , 'MOIST'    , 'PRECTOT'   ,
                               'TSLAND'    , 'SURFACE'  , 'SNOMAS'    ,
                               'SNOWDP'    , 'SURFACE'  , 'SNODP'     ,
                               'EVPSOI'    , 'SURFACE'  , 'EVPSOIL'   ,
                               'EVPVEG'    , 'SURFACE'  , 'EVPTRNS'   ,
                               'EVPINT'    , 'SURFACE'  , 'EVPINTR'   ,
                               'EVPICE'    , 'SURFACE'  , 'EVPSBLN'   ,
                               'RUNSURF'   , 'SURFACE'  , 'RUNOFF'    ,
                               'BASEFLOW'  , 'SURFACE'  ,
                               'SMLAND'    , 'SURFACE'  ,
                               'QINFIL'    , 'SURFACE'  ,
                               'FRUST'     , 'SURFACE'  , 'FRUNST'    ,
                               'FRSAT'     , 'SURFACE'  ,
                               'ASNOW'     , 'SURFACE'  , 'FRSNO'     ,
                               'FRWLT'     , 'SURFACE'  ,
                               'DFPAR'     , 'SOLAR'    , 'PARDF'     ,
                               'DRPAR'     , 'SOLAR'    , 'PARDR'     ,
                               'SHLAND'    , 'SURFACE'  ,
                               'LHLAND'    , 'SURFACE'  ,
                               'EVLAND'    , 'SURFACE'  ,
                               'LWLAND'    , 'SURFACE'  ,
                               'SWLAND'    , 'SURFACE'  ,
                               'GHLAND'    , 'SURFACE'  ,
                               'TWLAND'    , 'SURFACE'  ,
                               'TELAND'    , 'SURFACE'  ,
                               'DWLAND'    , 'SURFACE'  , 'WCHANGE'   ,
                               'DHLAND'    , 'SURFACE'  , 'ECHANGE'   ,
                               'SPLAND'    , 'SURFACE'  ,
                               'SPWATR'    , 'SURFACE'  ,
                               'SPSNOW'    , 'SURFACE'  ,
                               ::


# Caution: this stream does not follow convention of output from
#          ensemble - file does not carry member information ...
#          vtrack script too wired up and attached to filename
#          convention of central DAS. (RT)
  vtx.mix.format:      'CFIO' ,
  vtx.mix.deflate:    2      ,
  vtx.mix.regrid_method:  'BILINEAR_MONOTONIC' ,
  vtx.mix.template:    '%y4%m2%d2_%h2z.>>>NCSUFFIX<<<',
  vtx.mix.frequency:   060000 ,
  vtx.mix.duration:    060000 ,
  vtx.mix.end_date:    >>>IOFDATE<<< ,
  vtx.mix.end_time:    >>>IOFTIME<<< ,
  vtx.mix.mode:        'instantaneous',
  vtx.mix.resolution:  >>>HIST_IM<<< >>>HIST_JM<<<,
  vtx.mix.fields:      'PHIS'   , 'AGCM'     ,
                       'SLP'    , 'DYN'      ,
                       'PS'     , 'DYN'      ,
                       'DELP'   , 'DYN'      ,
                       'U;V'    , 'DYN'      ,
                       'T'      , 'DYN'      ,
                       'Q'      , 'MOIST'    ,
                       'OMEGA'  , 'DYN'      ,
                       'TPREC'  , 'MOIST'    , 'PRECP'  ,
                       'CLDLO'  , 'SOLAR'    ,
                       'CLDMD'  , 'SOLAR'    ,
                       'CLDHI'  , 'SOLAR'    ,
                       'CLDTT'  , 'SOLAR'    ,
                       'US;VS'  , 'DYN'      ,
                       'TS'     , 'SURFACE'  ,
                       'PV'     , 'DYN'      ,
                       'EPV'    , 'DYN'      ,
                       ::

