# MAPL required variables
# -----------------------
RUN_DT: 1800   # this is arbitrary for mkiau.x (but required by MAPL)
MAPL_ENABLE_TIMERS: NO
PRINTSPEC: 0  # (0: OFF, 1: IMPORT & EXPORT, 2: IMPORT, 3: EXPORT)


# Model Resolution and Timestep Parameters
# 4x4 is usually enough for any resolution
# ----------------------------------------
NX: 1
NY: 1

#MP_STATS_IM: 1152
#MP_STATS_JM: 721
MP_STATS_IM: 288
MP_STATS_JM: 181
MP_STATS_LM: 72

VNORM: YES
EPS_EER: 1.0

