
nmc_perts_date_beg: 2011040300
nmc_perts_date_end: 2012051800

nmc_perts_date_window: 45

nmc_perts_spool: null

#nmc_perts_location: dirac:/archive/u/aelakkra/dx573/Fcst48m24
nmc_perts_location: ExtData/enAdas/perts/dyn/572
nmc_perts_fnametmpl: e572_fp.f48m24.eta.%y4%m2%d2_%h2z.nc4

