 &SETUP
   miter=0,niter(1)=1,niter(2)=1,
   niter_no_qc(1)=999,niter_no_qc(2)=999,
   write_diag(1)=.true.,write_diag(2)=.false.,write_diag(3)=.false.,
   jiterstart=1,
   gencode=82,qoption=2,
   factqmin=0.005,factqmax=0.005,deltim=300,
!--gencode=82,qoption=1,
!--factqmin=0.8,factqmax=1.2,deltim=300,
   ifact10=0,
   pseudo_q2=.true.,
   use_prepb_satwnd=>>>USE_PREPB_SATWND<<<,
   ec_amv_qc=.false.,
   iguess=-1,
   diag_version=30303,
   id_drifter=.true.,
   id_ship=.false.,
   tzr_qc=1,
   oneobtest=.false.,retrieval=.false.,
   biascor=-0.10,bcoption=0,diurnalbc=1.0,
   crtm_coeffs_path="CRTM_Coeffs/",
   print_diag_pcg=.false.,
   use_compress=.true.,nsig_ext=@NSIG_EXT,gpstop=55.,lgpsbnd_revint=.true.,
   commgpstop=45.,spiregpserrinf=2.,
   use_sp_eqspace=.true.,
   reduce_diag=.true.,
   luse_obsdiag=.true.,
   lread_obs_save=.false.,lread_obs_skip=.true.,lwrite_predterms=.true.,lwrite_peakwt=.true.,
   ens_nstarthr=3,
@RADBC   newpc4pred=.true.,adp_anglebc=.true.,angord=4,
@RADBC   passive_bc=.true.,use_edges=.false.,
@RADBC   diag_precon=.true.,step_start=1.e-3,emiss_bc=.true.,
   lrun_subdirs=.false.,
 /
 &GRIDOPTS
   JCAP=@GSI_JCAP,NLAT=@GSI_JM,NLON=@GSI_IM,nsig=@GSI_LM,
   regional=.false.,
   nvege_type=13,
 /
 &BKGERR
   vs=0.6,
   hzscl=0.588,1.25,2.0,
   hswgt=0.45,0.3,0.25,
   bw=0.0,norsp=4,
   bkgv_flowdep=.true.,bkgv_rewgtfct=1.5,
   fpsproj=.false.,
   adjustozvar=.true.,
 /
 &ANBKGERR
   anisotropic=.false.,
 /
 &JCOPTS
   ljcpdry=.true.,bamp_jcpdry=2.5e7,
 /
 &STRONGOPTS
!  tlnmc_option=1,nstrong=1,nvmodes_keep=24,period_max=6.,period_width=1.5,
!  baldiag_full=.true.,baldiag_inc=.true.,
 /
 &OBSQC
   dfact=0.75,dfact1=3.0,noiqc=.false.,oberrflg=.true.,c_varqc=0.02,blacklst=.true.,
   use_poq7=.true.,qc_noirjaco3=.false.,qc_satwnds=.false.,cld_det_dec2bin=.true.,
   half_goesr_err=.false.,
!  tcp_ermin=0.75,tcp_ermax=0.75,
   >>>AIRCFT_BIAS<<<
 /
 &OBS_INPUT
   dmesh(1)=145.0,dmesh(2)=150.0,dmesh(3)=180.0,time_window_max=3.0, 
 /
OBS_INPUT::
!  dfile          dtype       dplat       dsis                  dval    dthin  dsfcalc  obsclass
   prepbufr       ps          null        ps                    0.0     0      0        ncep_prep_bufr 
   prepbufr       t           null        t                     0.0     0      0        ncep_prep_bufr
   prepbufr_profl t           prof        t                     0.0     0      0        ncep_acftpfl_bufr
   prepbufr       q           null        q                     0.0     0      0        ncep_prep_bufr
   prepbufr       uv          null        uv                    0.0     0      0        ncep_prep_bufr
   prepbufr_profl uv          prof        uv                    0.0     0      0        ncep_acftpfl_bufr
   prepbufr       spd         null        spd                   0.0     0      0        ncep_prep_bufr
   radarbufr      rw          null        rw                    0.0     0      0        ncep_radar_bufr
   prepbufr       dw          null        dw                    0.0     0      0        ncep_prep_bufr
!  mlstbufr       t           aura        t                     1.0     0      0        gmao_mlst_bufr
!! prepbufr       sst         null        sst                   0.0     0      0        ncep_prep_bufr
   modsbufr       sst         mods        sst                   0.0     0      0        to_be_done
   prepbufr       pw          null        pw                    0.0     0      0        ncep_prep_bufr
   preprscat      uv          null        uv                    0.0     0      0        rscat_bufr
   gpsrobufr      gps_bnd     null        gps                   0.0     0      0        ncep_gpsro_bufr
   gpsrocombufr   gps_bnd     null        gps                   0.0     0      0        ncep_gpsro_com_bufr
   ssmirrbufr     pcp_ssmi    dmsp        pcp_ssmi              0.0     0      0        ncep_spssmi_bufr
   tmirrbufr      pcp_tmi     trmm        pcp_tmi               0.0     0      0        ncep_sptrmm_bufr
   sbuvbufr       sbuv2       n16         sbuv8_n16             0.0     0      0        ncep_osbuv_bufr
   sbuvbufr       sbuv2       n17         sbuv8_n17             0.0     0      0        ncep_osbuv_bufr
   sbuvbufr       sbuv2       n18         sbuv8_n18             0.0     0      0        ncep_osbuv_bufr
   omibufr        omi         aura        omi_aura              0.0     2      0        ncep_aura_omi_bufr
!  ompsnmbufr     ompsnm      npp         ompsnm_npp            0.0     2      0        npp_ompsnm_bufr
!  ompsnpbufr     ompsnp      npp         ompsnp_npp            0.0     0      0        npp_ompsnp_bufr
!  ompsnpnc       ompsnpnc    npp         ompsnpnc_npp          0.0     0      0        npp_ompsnp_nc
!  NOomibufr      omi         aura        omi_aura              0.0     2      0        test
   hirs2bufr      hirs2       n14         hirs2_n14             0.0     1      0        ncep_1bhrs2_bufr
   hirs3bufr      hirs3       n16         hirs3_n16             0.0     1      0        ncep_1bhrs3_bufr
   hirs3bufr      hirs3       n17         hirs3_n17             0.0     1      0        ncep_1bhrs3_bufr
   hirs4bufr      hirs4       n18         hirs4_n18             0.0     1      0        ncep_1bhrs4_bufr
   hirs4bufr      hirs4       metop-a     hirs4_metop-a         0.0     1      0        ncep_1bhrs4_bufr
!  gsndrbufr      sndr        g11         sndr_g11              0.0     1      0        test
!  gsndrbufr      sndr        g12         sndr_g12              0.0     1      0        test
!  gimgrbufr      goes_img    g11         imgr_g11              0.0     1      0        test
!  gimgrbufr      goes_img    g12         imgr_g12              0.0     1      0        test
   airsbufr       airs        aqua        airs_aqua             0.0     3      0        disc_airs_bufr
!  msubufr        msu         n14         msu_n14               0.0     1      0        test
   amsuabufr      amsua       n15         amsua_n15             0.0     1      0        ncep_1bamua_bufr
   amsuabufr      amsua       n16         amsua_n16             0.0     1      0        ncep_1bamua_bufr
   amsuabufr      amsua       n17         amsua_n17             0.0     1      0        ncep_1bamua_bufr
   amsuabufr      amsua       n18         amsua_n18             0.0     1      0        ncep_1bamua_bufr
   amsuabufr      amsua       metop-a     amsua_metop-a         0.0     1      0        ncep_1bamua_bufr
!  airsbufr       amsua       aqua        amsua_aqua            0.0     1      0        ncep_airs_bufr
   dummbufr       amsua       aqua        amsua_aqua            0.0     1      0        test
   amsubbufr      amsub       n15         amsub_n15             0.0     1      0        ncep_1bamub_bufr
   amsubbufr      amsub       n16         amsub_n16             0.0     1      0        ncep_1bamub_bufr
   amsubbufr      amsub       n17         amsub_n17             0.0     1      0        ncep_1bamub_bufr
   mhsbufr        mhs         n18         mhs_n18               0.0     1      0        ncep_mhs_bufr
   mhsbufr        mhs         metop-a     mhs_metop-a           0.0     1      0        ncep_mhs_bufr
!  ssmitbufr      ssmi        f13         ssmi_f13              0.0     1      0        test
!  ssmitbufr      ssmi        f14         ssmi_f14              0.0     1      0        test
!  ssmitbufr      ssmi        f15         ssmi_f15              0.0     1      0        test
   amsrebufr      amsre_low   aqua        amsre_aqua            0.0     1      0        ncep_amsre_bufr
   amsrebufr      amsre_mid   aqua        amsre_aqua            0.0     1      0        ncep_amsre_bufr
   amsrebufr      amsre_hig   aqua        amsre_aqua            0.0     1      0        ncep_amsre_bufr
!  amsregmao      amsre       aqua        amsre_aqua            0.0     1      0        gmao_amsre_bufr
!  ssmisbufr      ssmis_las   f16         ssmis_f16             0.0     1      0        test
!  ssmisbufr      ssmis_uas   f16         ssmis_f16             0.0     1      0        test
!  ssmisbufr      ssmis_img   f16         ssmis_f16             0.0     1      0        test
!  ssmisbufr      ssmis_env   f16         ssmis_f16             0.0     1      0        test
   ssmisbufr      ssmis       f16         ssmis_f16             0.0     1      0        ncep_ssmis_bufr
   ssmisbufr      ssmis       f17         ssmis_f17             0.0     1      0        ncep_ssmis_bufr
   ssmisbufr      ssmis       f18         ssmis_f18             0.0     1      0        ncep_ssmis_bufr
   gsnd1bufr      sndrd1      g12         sndrD1_g12            0.0     1      0        ncep_goesfv_bufr
   gsnd1bufr      sndrd2      g12         sndrD2_g12            0.0     1      0        ncep_goesfv_bufr
   gsnd1bufr      sndrd3      g12         sndrD3_g12            0.0     1      0        ncep_goesfv_bufr
   gsnd1bufr      sndrd4      g12         sndrD4_g12            0.0     1      0        ncep_goesfv_bufr
   gsnd1bufr      sndrd1      g11         sndrD1_g11            0.0     1      0        ncep_goesfv_bufr
   gsnd1bufr      sndrd2      g11         sndrD2_g11            0.0     1      0        ncep_goesfv_bufr
   gsnd1bufr      sndrd3      g11         sndrD3_g11            0.0     1      0        ncep_goesfv_bufr
   gsnd1bufr      sndrd4      g11         sndrD4_g11            0.0     1      0        ncep_goesfv_bufr
   gsnd1bufr      sndrd1      g13         sndrD1_g13            0.0     1      0        ncep_goesfv_bufr
   gsnd1bufr      sndrd2      g13         sndrD2_g13            0.0     1      0        ncep_goesfv_bufr
   gsnd1bufr      sndrd3      g13         sndrD3_g13            0.0     1      0        ncep_goesfv_bufr
   gsnd1bufr      sndrd4      g13         sndrD4_g13            0.0     1      0        ncep_goesfv_bufr
   iasibufr       iasi        metop-a     iasi_metop-a          0.0     3      0        ncep_mtiasi_bufr
!  gomebufr       gome        metop-a     gome_metop-a          0.0     2      0        test
!  mlsoz          o3lev       aura        mls_aura_ozlv         0.0     0      0        test
!  mlsozbufr      o3lev       aura        o3lev_aura            0.0     0      0        test
!  ompslpgnc      ompslpnc    npp         ompslpnc_npp          1.0     0      0        ompslpnc_nc
!  ompslpuvnc     ompslpuv    npp         ompslpuv_npp          1.0     0      0        ompslpuv_nc
!  ompslpvisnc    ompslpvis   npp         ompslpvis_npp         1.0     0      0        ompslpvis_nc
!  mlsoztext      o3lev       aura        o3lev_aura            0.0     0      0        test
   amsuabufr      amsua       n19         amsua_n19             0.0     1      0        ncep_1bamua_bufr
   hirs4bufr      hirs4       n19         hirs4_n19             0.0     1      0        ncep_1bhrs4_bufr
   mhsbufr        mhs         n19         mhs_n19               0.0     1      0        ncep_mhs_bufr
   tcvitl         tcp         null        tcp                   0.0     0      0        ncep_tcvitals
   eosamsuabufr   amsua       aqua        amsua_aqua            0.0     1      0        disc_amsua_bufr
   sbuvbufr       sbuv2       n19         sbuv8_n19             0.0     0      0        ncep_osbuv_bufr
   seviribufr     seviri      m08         seviri_m08            0.0     1      0        ncep_sevcsr_bufr
   seviribufr     seviri      m09         seviri_m09            0.0     1      0        ncep_sevcsr_bufr
   seviribufr     seviri      m10         seviri_m10            0.0     1      0        ncep_sevcsr_bufr
   hirs4bufr      hirs4       metop-b     hirs4_metop-b         0.0     1      0        ncep_1bhrs4_bufr
   amsuabufr      amsua       metop-b     amsua_metop-b         0.0     1      0        ncep_1bamua_bufr
   mhsbufr        mhs         metop-b     mhs_metop-b           0.0     1      0        ncep_mhs_bufr
   iasibufr       iasi        metop-b     iasi_metop-b          0.0     3      0        ncep_mtiasi_bufr
!  gomebufr       gome        metop-b     gome_metop-b          0.0     2      0        test
   amsuabufr      amsua       metop-c     amsua_metop-c         0.0     1      0        ncep_1bamua_bufr
   mhsbufr        mhs         metop-c     mhs_metop-c           0.0     1      0        ncep_mhs_bufr
   iasibufr       iasi        metop-c     iasi_metop-c          0.0     3      0        ncep_mtiasi_bufr
   atmsbufr       atms        npp         atms_npp              0.0     1      0        ncep_atms_bufr
   atmsbufr       atms        n20         atms_n20              0.0     1      0        ncep_atms_bufr
   crisfsrbufr    cris-fsr    npp         cris-fsr_npp          0.0     3      0        ncep_crisfsr_bufr
   crisfsrbufr    cris-fsr    n20         cris-fsr_n20          0.0     3      0        ncep_crisfsr_bufr
   satwndbufr     uv          null        uv                    0.0     0      0        ncep_satwnd_bufr
   avcspmbufr     avhrr       n18         avhrr3_n18            0.0     1      0        ncep_avcspm_bufr
   avcspmbufr     avhrr       n19         avhrr3_n19            0.0     1      0        ncep_avcspm_bufr
   avcsambufr     avhrr       metop-a     avhrr3_metop-a        0.0     1      0        ncep_avcsam_bufr
   avcsambufr     avhrr       metop-b     avhrr3_metop-b        0.0     1      0        ncep_avcsam_bufr
!  omieffbufr     omieff      aura        omieff_aura           0.0     2      0        test
!  omieffnc       omieff      aura        omieff_aura           0.0     2      0        aura_omieff_nc
!  ompsnmeffnc    ompsnmeff   npp         ompsnmeff_npp         0.0     2      0        npp_ompsnmeff_nc
   gsnd1bufr      sndrd1      g15         sndrD1_g15            0.0     1      0        ncep_goesfv_bufr
   gsnd1bufr      sndrd2      g15         sndrD2_g15            0.0     1      0        ncep_goesfv_bufr
   gsnd1bufr      sndrd3      g15         sndrD3_g15            0.0     1      0        ncep_goesfv_bufr
   gsnd1bufr      sndrd4      g15         sndrD4_g15            0.0     1      0        ncep_goesfv_bufr
!  tomseffnc      tomseff     nim07       tomseff_nim07         0.0     2      0        test
!  tomseffnc      tomseff     ep          tomseff_ep            0.0     2      0        test
!  sbuvbufr       sbuv2       nim07       sbuv8_nim07           0.0     0      0        test
   mlsnc          mls55       aura        mls55_aura            0.0     0      0        mls_nrt_nc
   oscatbufr      uv          null        uv                    0.0     0      0        ncep_oscat_bufr
!  tmibufr        tmi         trmm        tmi_trmm              0.0     1      0        gmao_tmi_bufr
   gmibufr        gmi         gpm         gmi_gpm               0.0     1      0        gmao_gmi_bufr
   amsr2bufr      amsr2       gcom-w1     amsr2_gcom-w1         0.0     1      0        gmao_amsr2_bufr
! The following needs to be set for oneob-test:
!  prepqc         dummy       dummy       dummy                 1.0     1      0        test
::
 &SUPEROB_RADAR
 /
 &LAG_DATA
! lag_accur=1e-6,
! infile_lag='inistate_lag.dat',
! lag_stepduration=900.,
! lag_nmax_bal=100,
! lag_vorcore_stderr_a=2e3,
! lag_vorcore_stderr_b=0,
 /
 &HYBRID_ENSEMBLE
 /
 &RAPIDREFRESH_CLDSURF
!  dfi_radar_latent_heat_time_period=30.0,
 /
 &SINGLEOB_TEST
!  maginnov=0.1,magoberr=0.1,oneob_type='t',
!  oblat=45.,oblon=180.,obpres=1000.,obdattim=2004041512,
!  obhourset=0.,
 /
 &CHEM
 /
 &NST
 nst_gsi=3,
 /
